<div class="hero-section investment-hero wf-section">
    <div class="container-contact-us">
      <div data-w-id="c0d256e8-b9c6-f78f-7af1-24267e0a741c" class="flex contact-us-hero">
        <h1 class="contact-us-header">Contact Us</h1>
        <p class="paragraph contact-copy">Need support? Have a question? Running into a problem? We’re here to help.</p>
      </div>
    </div>
  </div>
  <div class="contact-bg">
    <div data-w-id="6dffb4e5-09e0-130f-17bb-885f6f891c01" class="cards-type">
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 300;  repeat: true" data-w-id="6dffb4e5-09e0-130f-17bb-885f6f891c02" class="faq-link-card">
        <div class="icon-container have-questions"></div>
        <div class="pcards-tag-container">
          <p class="contact-us-header1">Have a question?</p>
        </div>
        <p class="questions">Check out our FAQ section for tons of answers to some of our most common customer questions. It’s the fastest way to get the answer you’re looking for!</p>
        <div class="fags-container">
          <a href="#" class="link">Visit the FAQs Page</a>
          <div class="icon-link"></div>
        </div>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 500;  repeat: true" class="faq-link-card">
        <div class="icon-container message"></div>
        <div class="pcards-tag-container">
          <p class="contact-us-header1">Drop us a message</p>
        </div>
        <p class="questions">Our support team is on hand to take your queries and offer prompt resolutions to your tickets.</p>
        <div class="fags-container">
          <a href="#" class="link support">Contact support</a>
          <div class="icon-link"></div>
        </div>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 700;  repeat: true" class="faq-link-card last">
        <div class="icon-container community"></div>
        <div class="pcards-tag-container">
          <p class="contact-us-header1">Ask the community</p>
        </div>
        <p class="questions">We have a vibrant community of Carbon customers where we communicate regular updates about our products and services.</p>
        <div class="fags-container">
          <a href="#" class="link">Join our community</a>
          <div class="icon-link"></div>
        </div>
      </div>
    </div>
    <div class="flex social-media">
      <div class="social-media-icons-container">
        <h1 class="heading social--helding">Follow us on social media</h1>
        <p class="paragraph contact-copy">Stay updated with the latest on all things Carbon</p>
        <div class="social-media-container large-icons">
          <div class="icon-wrap-container">
            <a href="#" class="social-links w-inline-block"><img src="../../../assets/images/008-facebook.svg" loading="lazy" width="56" alt=""></a>
            <a href="#" class="social-links w-inline-block"><img src="../../../assets/images/001-twitter.svg" loading="lazy" width="56" alt=""></a>
            <a href="#" class="social-links w-inline-block"><img src="../../../assets/images/011-instagram.svg" loading="lazy" width="56" alt=""></a>
            <a href="#" class="social-links w-inline-block"><img src="../../../assets/images/007-youtube.svg" loading="lazy" width="56" alt=""></a>
            <a href="#" class="social-links w-inline-block"><img src="../../../assets/images/010-linkedin.svg" loading="lazy" width="56" alt=""></a>
            <a href="#" class="social-links w-inline-block"><img src="../../../assets/images/006-tumblr.svg" loading="lazy" width="56" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>