<div class="hero-section join-team wf-section">
    <div class="container hero-top">
      <div data-w-id="036f14ad-1776-f48e-0b2c-c2c35bb8c599" class="flex hiring-in-carbon">
        <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 300;  repeat: true"  class="left-div hiring-process">
          <h1 class="heading maincopy hire-main-text">Show us what you’ve got</h1>
          <p class="paragraph hero">Seen an opportunity to make an impact with us? Here’s everything you need to know about our recruitment process.</p>
          <a href="#" class="hr-page button-open-roles w-button">Explore open roles</a>
        </div>
        <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 300;  repeat: true"  class="right-div heroimage">
          <div class="div-block hr-img"></div><img src="https://ng.getcarbon.co/images/Fill-1.svg" loading="lazy" width="193.5" alt="" class="image-19">
        </div>
      </div>
    </div>
  </div>
  <div data-w-id="c640d9dd-48d4-dbcc-9a8c-31d2936dfecf" class="hero-section commitment wf-section">
    <div data-w-id="c640d9dd-48d4-dbcc-9a8c-31d2936dfed1" class="container">
      <h1 class="heading hr-commitment">We&#x27;re thorough but also very fast with recruiting new talent. We have a commitment to conclude everything, from the first call, within ten <strong class="bold-text-2">working days</strong>.</h1>
    </div>
  </div>
  <div class="hero-section our-process wf-section">
    <div class="about-hero-container-copy">
      <div data-w-id="10fe3258-9f4b-4399-9423-490adcdb1704" class="our-core-value">
        <h1 class="heading our-interview-process">Our Interview process</h1>
      </div>
    </div>
  </div>
  <div class="content-section wf-section">
    <div class="column-1">
      <div data-w-id="f200b7ec-eab7-7bf9-a127-029c6a729960" class="photo _1">
        <div class="all-phase-container">
          <div class="hiring-process-wrapper-1">
            <div class="accordion-wrapper schedule">
              <div class="number-container">
                <div class="process-number">01</div>
              </div>
              <div class="accordion-item js-accordion">
                <h2 class="accodion-trigger call">Schedule a call</h2>
                <div class="download-proces">
                  <p class="get-started-discription discription-1 js-accordion-item">Someone from HR will reach out if we like what we see on your application. They’ll then schedule a call for a time that works best for you.</p>
                </div>
              </div>
            </div>
            <div class="accordion-wrapper getting-to-know hide-1">
              <div class="number-container second">
                <div class="process-number process2">02</div>
              </div>
              <div class="accordion-item js-accordion">
                <h2 class="accodion-trigger get-to-know">Getting to know you</h2>
              </div>
            </div>
            <div class="accordion-wrapper lets-see hide-2">
              <div class="number-container third">
                <div class="process-number process3">03</div>
              </div>
              <div class="accordion-item js-accordion">
                <h2 class="accodion-trigger lets-see">Lets see what you can do</h2>
              </div>
            </div>
            <div class="accordion-wrapper meet-team hide-3">
              <div class="number-container _4th">
                <div class="process-number process4">04</div>
              </div>
              <div class="accordion-item js-accordion">
                <h2 class="accodion-trigger people-team">Meet the people team</h2>
              </div>
            </div>
            <div class="accordion-wrapper meet-founders hide-5">
              <div class="number-container _4th">
                <div class="process-number process5">05</div>
              </div>
              <div class="accordion-item js-accordion">
                <h2 class="accodion-trigger founders">Meet the founders</h2>
              </div>
            </div>
            <div class="accordion-wrapper decision last hide-6">
              <div class="number-container _4th">
                <div class="process-number process6">06</div>
              </div>
              <div class="accordion-item js-accordion">
                <h2 class="accodion-trigger decision">Decision</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-w-id="f200b7ec-eab7-7bf9-a127-029c6a729990" class="photo _2">
        <div class="all-phase-container">
          <div class="hiring-process-wrapper-2">
            <div class="accordion-wrapper getting-to-know">
              <div class="number-container">
                <div class="process-number">01</div>
              </div>
              <div class="accordion-item js-accordion">
                <h2 class="accodion-trigger get-to-know">Schedule a call</h2>
              </div>
            </div>
            <div class="accordion-wrapper schedule">
              <div class="number-container second">
                <div class="process-number process2">02</div>
              </div>
              <div class="accordion-item js-accordion">
                <h2 class="accodion-trigger call">Talk to someone from your team</h2>
                <div class="download-proces">
                  <p class="get-started-discription discription-1 js-accordion-item">Here, you will have a conversation with someone who works in the team you’re applying for, typically the head of that team. They’ll learn about your past experiences and you can ask them questions of your own too.</p>
                </div>
              </div>
            </div>
            <div class="accordion-wrapper lets-see hide-2">
              <div class="number-container third">
                <div class="process-number process3">03</div>
              </div>
              <div class="accordion-item js-accordion">
                <h2 class="accodion-trigger lets-see">Lets see what you can do</h2>
              </div>
            </div>
            <div class="accordion-wrapper meet-team hide-3">
              <div class="number-container _4th">
                <div class="process-number process4">04</div>
              </div>
              <div class="accordion-item js-accordion">
                <h2 class="accodion-trigger people-team">Meet the people team</h2>
              </div>
            </div>
            <div class="accordion-wrapper meet-founders hide-5">
              <div class="number-container _4th">
                <div class="process-number process5">05</div>
              </div>
              <div class="accordion-item js-accordion">
                <h2 class="accodion-trigger founders">Meet the founders</h2>
              </div>
            </div>
            <div class="accordion-wrapper decision last hide-6">
              <div class="number-container _4th">
                <div class="process-number process6">06</div>
              </div>
              <div class="accordion-item js-accordion">
                <h2 class="accodion-trigger decision">Decision</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-w-id="f200b7ec-eab7-7bf9-a127-029c6a7299c0" class="photo _3">
        <div class="hiring-process-wrapper-3">
          <div class="accordion-wrapper getting-to-know">
            <div class="number-container">
              <div class="process-number">01</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger get-to-know">Schedule a call</h2>
            </div>
          </div>
          <div class="accordion-wrapper lets-see">
            <div class="number-container second">
              <div class="process-number process2">02</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger lets-see">Getting to know you</h2>
            </div>
          </div>
          <div class="accordion-wrapper schedule">
            <div class="number-container third">
              <div class="process-number process3">03</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger call">Lets see what you can do</h2>
              <div class="download-proces">
                <p class="get-started-discription discription-1 js-accordion-item">It’s time to give us a taste of what we get when you join our team. You’ll be given a small task to complete, which will give you an insight into the kind of work you’ll do at Carbon.</p>
              </div>
            </div>
          </div>
          <div class="accordion-wrapper meet-team hide-3">
            <div class="number-container _4th">
              <div class="process-number process4">04</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger people-team">Meet the people team</h2>
            </div>
          </div>
          <div class="accordion-wrapper meet-founders hide-5">
            <div class="number-container _4th">
              <div class="process-number process5">05</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger founders">Meet the founders</h2>
            </div>
          </div>
          <div class="accordion-wrapper decision last hide-6">
            <div class="number-container _4th">
              <div class="process-number process6">06</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger decision">Decision</h2>
            </div>
          </div>
        </div>
      </div>
      <div data-w-id="b96751d6-59f0-11e7-2d7a-76fa7ecaefe4" class="photo _4">
        <div class="hiring-process-wrapper-3">
          <div class="accordion-wrapper getting-to-know">
            <div class="number-container">
              <div class="process-number">01</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger get-to-know">Schedule a call</h2>
            </div>
          </div>
          <div class="accordion-wrapper lets-see">
            <div class="number-container second">
              <div class="process-number process2">02</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger lets-see">Getting to know you</h2>
            </div>
          </div>
          <div class="accordion-wrapper meet-team">
            <div class="number-container third">
              <div class="process-number process3">03</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger people-team">Lets see what you can do</h2>
            </div>
          </div>
          <div class="accordion-wrapper schedule">
            <div class="number-container _4th">
              <div class="process-number process4">04</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger call">Meet our People Operations team</h2>
              <div class="download-proces">
                <p class="get-started-discription discription-1 js-accordion-item">We want to know you as an individual. We also want to allow you a peep into to our culture at Carbon. Our People Operations team takes you through this process, answers your questions, and ultimately decide how you fit into our culture.</p>
              </div>
            </div>
          </div>
          <div class="accordion-wrapper meet-founders hide-5">
            <div class="number-container _4th">
              <div class="process-number process5">05</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger founders">Meet the founders</h2>
            </div>
          </div>
          <div class="accordion-wrapper decision last hide-6">
            <div class="number-container _4th">
              <div class="process-number process6">06</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger decision">Decision</h2>
            </div>
          </div>
        </div>
      </div>
      <div data-w-id="6b4a4c59-9978-f36f-1635-cbefbb8d091c" class="photo _5">
        <div class="hiring-process-wrapper-3">
          <div class="accordion-wrapper getting-to-know">
            <div class="number-container">
              <div class="process-number">01</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger get-to-know">Schedule a call</h2>
            </div>
          </div>
          <div class="accordion-wrapper lets-see">
            <div class="number-container second">
              <div class="process-number process2">02</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger lets-see">Getting to know you</h2>
            </div>
          </div>
          <div class="accordion-wrapper meet-founders">
            <div class="number-container third">
              <div class="process-number process3">03</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger founders">Lets see what you can do</h2>
            </div>
          </div>
          <div class="accordion-wrapper meet-team">
            <div class="number-container _4th">
              <div class="process-number process4">04</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger people-team">Meet the people team</h2>
            </div>
          </div>
          <div class="accordion-wrapper schedule">
            <div class="number-container _5th">
              <div class="process-number process5">05</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger call">Meet the founders</h2>
              <div class="download-proces">
                <p class="get-started-discription discription-1 js-accordion-item">The last phase of our recruitment process is the shortest of them all: a chat with one of our founders.</p>
              </div>
            </div>
          </div>
          <div class="accordion-wrapper decision last hide-6">
            <div class="number-container _4th">
              <div class="process-number process6">06</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger decision">Decision</h2>
            </div>
          </div>
        </div>
      </div>
      <div data-w-id="3f09a202-91cd-92fe-1cda-2fcb73522009" class="photo _6">
        <div class="hiring-process-wrapper-3">
          <div class="accordion-wrapper getting-to-know">
            <div class="number-container">
              <div class="process-number">01</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger get-to-know">Schedule a call</h2>
            </div>
          </div>
          <div class="accordion-wrapper lets-see">
            <div class="number-container second">
              <div class="process-number process2">02</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger lets-see">Lets see what you can do</h2>
            </div>
          </div>
          <div class="accordion-wrapper decision">
            <div class="number-container third">
              <div class="process-number process3">03</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger decision">Lets see what you can do</h2>
            </div>
          </div>
          <div class="accordion-wrapper meet-team">
            <div class="number-container _4th">
              <div class="process-number process4">04</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger people-team">Meet the people team</h2>
            </div>
          </div>
          <div class="accordion-wrapper meet-founders">
            <div class="number-container _4th">
              <div class="process-number process5">05</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger founders">Meet the founders</h2>
            </div>
          </div>
          <div class="accordion-wrapper schedule">
            <div class="number-container _4th">
              <div class="process-number process6">06</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger call">Decision</h2>
              <div class="download-proces">
                <p class="get-started-discription discription-1 js-accordion-item">Within 48 hours of meeting our founders we will let you know our final decision.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column-2">
      <div class="content-holder">
        <div class="the-content _1"></div>
        <div data-w-id="f200b7ec-eab7-7bf9-a127-029c6a7299f2" class="the-content _2"></div>
        <div data-w-id="f200b7ec-eab7-7bf9-a127-029c6a7299f3" class="the-content _3"></div>
        <div data-w-id="85b19cf5-7070-6e87-c167-f32fcb0f166b" class="the-content _4"></div>
        <div data-w-id="b0da638e-bfbc-547b-4e70-d5c09292d289" class="the-content _5"></div>
        <div data-w-id="9514d963-1a8f-aedb-952f-8ecb9e1ff258" class="the-content _6"></div>
      </div>
    </div>
  </div>
  <div class="content-section hide wf-section">
    <div class="column-1"></div>
    <div class="column-2"></div>
  </div>
  <div class="hero-section people-of-carbon-thinks wf-section">
    <div class="about-hero-container">
      <div data-w-id="8a393fb3-01ba-bc9c-9110-f90e373ad181" class="carbon-process">
        <div class="team-story video-clip">
          <div class="staff-story-clip first-card"><img src="https://ng.getcarbon.co/images/Path-301202x.png" loading="lazy" width="161.5" alt="" class="image-24">
            <p class="staff-story-1">The interview process was smooth, the technical discussion with senior engineers was pleasant and made me more eager to join the team. It was the best interview experience I ever had.</p>
            <div class="staff-picture-1">
              <div class="staff-img avatar onome"></div>
              <div class="div-block-48">
                <div class="staff-name"><strong class="name-staff">Onome Maxwell Okuma</strong></div>
                <div class="position"><strong class="staff-position">Software Engineer</strong></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-section preparing-for-our-interview wf-section">
    <div class="container">
      <div data-w-id="81c0b72f-ad75-a9b0-a856-40723d3a6d99" class="flex interview-prep">
        <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 300;  repeat: true"  class="preparing-img">
          <div class="preparing-photo feature1-copy"></div>
        </div>
        <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 300;  repeat: true"  class="left-div preparation-process">
          <h2 class="features-heading-copy interview-prep-copy">Preparing for our interview</h2>
          <p class="preparing">All candidates will have the chance to highlight strengths in five different areas</p>
          <div class="preparing-process">
            <div class="access-up-to"></div>
            <p class="paragraph assessment">Personality assessment</p>
          </div>
          <div class="preparing-process">
            <div class="access-up-to"></div>
            <p class="paragraph assessment">Role-related skills and industry knowledge</p>
          </div>
          <div class="preparing-process">
            <div class="access-up-to"></div>
            <p class="paragraph assessment">Cognitive ability- usually determined by open ended questions that allow you to show this ability</p>
          </div>
          <div class="preparing-process">
            <div class="access-up-to"></div>
            <p class="paragraph assessment">Carbon fit - how you work within a team and/or individually? What you know about Carbon and why you want to join?</p>
          </div>
          <div class="preparing-process">
            <div class="access-up-to"></div>
            <p class="paragraph assessment">Leadership - show us examples of times you have exhibited leadership traits and how you have nurtured it.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-section tips-on-how-to-prepare wf-section">
    <div class="container">
      <div data-w-id="411aaf50-842d-83ce-ee14-9847a3891749" class="flex tips-on-how-to-prepare">
        <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 300;  repeat: true" class="preparing-img">
          <div class="preparing-photo tips-photo"></div>
        </div>
        <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 300;  repeat: true"  class="left-div prep-tips">
          <h2 class="features-heading-copy prep-title">Tips on how to Prepare</h2>
          <div class="preparing-process">
            <div class="access-up-to"></div>
            <p class="paragraph assessment">Relax, we don’t bite. We are interviewing you as much as you are interviewing us. We’re both finding out if we’re a good fit for each other.</p>
          </div>
          <div class="preparing-process">
            <div class="access-up-to"></div>
            <p class="paragraph assessment">Be prepared. Try to anticipate some of our questions with unique answers, such as “tell us about yourself”.</p>
          </div>
          <div class="preparing-process">
            <div class="access-up-to"></div>
            <p class="paragraph assessment">Be yourself. We love original people and we want to see the best version of yourself.</p>
          </div>
          <div class="preparing-process">
            <div class="access-up-to"></div>
            <p class="paragraph assessment">Know what we do. If you really think we’re a good fit for you, you should know where we’re coming from.</p>
          </div>
          <div class="preparing-process">
            <div class="access-up-to"></div>
            <p class="paragraph assessment">Tell us something we can do better. We like observant people but we like problem solvers even more.</p>
          </div>
          <div class="preparing-process">
            <div class="access-up-to"></div>
            <p class="paragraph assessment">It’s fine to be nervous and we’ll do everything to calm you. But if there’s anything you don’t understand, let your interviewer know and they’ll clarify.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-section ready-to-join wf-section">
    <div class="channel-container ready-to-join">
      <h2 class="ready-to-join-carbon">Ready to break boundaries with us?</h2>
      <a href="#" target="_blank" class="explore-open-roles download-button w-button">Explore open roles</a>
    </div>
  </div>