<div data-collapse="none" data-animation="default" data-duration="400" role="banner" class="navigationbar phy w-nav">
    <div class="container-4 nav-phy w-container">
      <a href="#" target="_blank" class="carbon-logo-2 w-inline-block"><img src="../../../assets/images/wCarbon-logo.svg" loading="lazy" width="109" alt="" class="image-25"></a>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <div class="hero-phy wf-section">
    <div data-w-id="fe5e608e-6b06-0107-a636-0743e7030234" style="opacity:0" class="pc-hero-container">
      <p class="paragraph carbon-debit-card">Carbon Debit Card</p>
      <div data-w-id="fe5e608e-6b06-0107-a636-0743e7030235" class="flex-2">
        <div class="left-div-2 hero---pcards">
          <p class="paragraph p-cards">Get ready to bank smarter 🎉</p>
        </div>
      </div>
      <div class="left-div-2 hero">
        <p class="paragraph p-card-discription">Banking shouldn’t be a chore; it’s an experience that should make you feel empowered. With our Card in your hands, you’re like your favorite superhero — filled with endless possibilities to use your money however you please.</p>
      </div>
      <div class="div-block-62">
        <a href="#" class="card-waitlist w-button"><span class="card-waitbtn">Join the waitlist</span></a>
        <a href="#" class="leader_board w-button"><span class="card-waitbtn">View leaderboard</span></a>
      </div>
      <div class="hero-pcard-img"></div>
      <div class="more-details-wrapper">
        <p class="paragraph p-cards-detail">What you should look out for</p>
      </div>
      <div class="left-div-2 more-d-copy">
        <p class="paragraph more-d-copy">There’s a lot to expect, and this is just the tip of the iceberg. 👇</p>
      </div>
    </div>
  </div>
  <div class="hero-section-2 request-sec wf-section">
    <div class="zero-fee-container">
      <div class="flex request">
        <div data-w-id="aaa188b8-6bee-ccce-15b2-1906b6885739" class="left-div zero-fee-con">
          <h1 class="heading z-fee-title">Delivered straight to you, no waiting in queues</h1>
          <p class="paragraph z-fee-copy">Once ready, we’ll send your card to you, wherever you are in Nigeria. All you will have to do is send us your address. Then sit, relax, and wait for the arrival of your card.<br></p>
        </div>
        <div class="right-div ussd-img">
          <div data-w-id="aaa188b8-6bee-ccce-15b2-1906b6885740" class="div-block request-img"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-section-2 zero-fee-sec wf-section">
    <div class="zero-fee-container">
      <div class="flex zero-fee">
        <div data-w-id="25b9ed28-1d89-06b1-89ee-52d65bd1ec50" class="left-div zero-fee-con">
          <h1 class="heading z-fee-title">Be limitless, pay anywhere locally</h1>
          <p class="paragraph z-fee-copy">You can use your Carbon debit card to make payments on both online and physical channels anywhere in Nigeria.<br></p>
        </div>
        <div class="right-div ussd-img">
          <div data-w-id="25b9ed28-1d89-06b1-89ee-52d65bd1ec57" class="div-block free-card"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-section-2 card-rules wf-section">
    <div class="zero-fee-container">
      <div class="flex request">
        <div data-w-id="55f77d05-e046-6c32-246d-aaad999d6981" class="left-div zero-fee-con">
          <h1 class="heading z-fee-title">It’s your card, you make the rules</h1>
          <p class="paragraph z-fee-copy">Your Carbon card and app are the perfect duo, working in sync with each other. Freeze your card whenever you please. Choose the channels you’d like to use it. And so much more.<br></p>
        </div>
        <div class="right-div ussd-img">
          <div data-w-id="55f77d05-e046-6c32-246d-aaad999d6988" style="opacity:0" class="div-block card-rules"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="ex-banking wf-section">
    <div data-w-id="5176c9af-78ef-c0d3-81c3-cdf8b6d904c3" style="opacity:0" class="horo-container">
      <div data-w-id="5176c9af-78ef-c0d3-81c3-cdf8b6d904c6" class="flex-2">
        <div class="left-div-2 ex-bank-con">
          <p class="paragraph ex-banking">Your banking experience is about to get even more lit 🔥</p>
        </div>
      </div>
      <a href="#" class="card-waitlist w-button"><span class="card-waitbtn">Join the waitlist</span></a>
    </div>
  </div>
  <div class="howto-section-2 footer-section dark-sec wf-section">
    <div class="contain footer dark">
      <div class="div-block-7"><img src="https://uploads-ssl.webflow.com/601a9b621ea952023a17dfac/601a9b621ea95258e517dfb2_Logo.svg" loading="lazy" alt="" class="carbon-logo-footer"></div>
      <div class="footer-details">
        <div class="social-container-copy">
          <div class="sicons">
            <a href="#" class="w-inline-block"><img src="../../../assets/images/010-linkedin_1.svg" loading="lazy" alt="" class="image-30"></a>
          </div>
          <div class="sicons">
            <a href="#" class="w-inline-block"><img src="../../../assets/images/008-facebook_1.svg" loading="lazy" alt="" class="image-30"></a>
          </div>
          <div class="sicons">
            <a href="#" target="_blank" class="w-inline-block"><img src="../../../assets/images/007-youtube_1.svg" loading="lazy" alt="" class="image-30"></a>
          </div>
          <div class="sicons">
            <a href="#" target="_blank" class="w-inline-block"><img src="../../../assets/images/001-twitter_1.svg" loading="lazy" alt="" class="image-30"></a>
          </div>
          <div class="sicons">
            <a href="#" target="_blank" class="w-inline-block"><img src="../../../assets/images/011-instagram_1.svg" loading="lazy" alt="" class="image-30"></a>
          </div>
          <div class="sicons">
            <a href="#" class="w-inline-block"><img src="https://uploads-ssl.webflow.com/601a9b621ea952023a17dfac/601a9b621ea95268d117dfdd_006-tumblr.svg" loading="lazy" alt="" class="image-30"></a>
          </div>
        </div>
        <p class="paragraph-19">©2020 Carbon. All rights reserved. Carbon is a financial service provided by Carbon Finance &amp; Investments Limited (RC 1044655), licensed and regulated by the Central Bank of Nigeria.<br></p>
      </div>
    </div>
  </div>