<div class="hero-section next-billion wf-section">
    <div class="about-hero-container providing-access">
      <div data-w-id="6c17bf31-1dd9-801a-831c-3a5f75269a0b" class="about-flex financial-access-hero">
        <div uk-scrollspy=" cls: uk-animation-fade; delay: 300;  repeat: true" class="carbon-about-title-wrapper">
          <h1 class="heading about-header-title">Providing access to financial services for all Africans</h1>
        </div>
        <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 300;  repeat: true" data-w-id="6c17bf31-1dd9-801a-831c-3a5f75269a13"  class="about-video">
          <a data-w-id="8ebfd902-f0f1-e1b9-2eda-8c1e3c5fa741" href="#" class="play-button w-inline-block"></a>
        </div>
        <div uk-scrollspy=" cls: uk-animation-fade; delay: 300;  repeat: true" data-w-id="d6db53f4-f6dc-147e-846f-d44336979d2a" class="our-mission content-1">
          <h1 class="heading mission-header">Our Mission</h1>
          <p class="paragraph-9">We believe access to credit and quality financial services is a human right. Our mission is to empower all people with the financial access they need to pursue a life of dignity and prosperity.</p>
        </div>
        <div uk-scrollspy=" cls: uk-animation-fade; delay: 500;  repeat: true" data-w-id="6c17bf31-1dd9-801a-831c-3a5f75269a18"  class="who-we-are content-2">
          <h1 class="heading mission-header">Who we are</h1>
          <p class="paragraph-9 who-we-are-copy">We empower individuals with access to credit, simple payments solutions, high-yield investment opportunities and easy-to-use tools for personal financial management. Carbon is headquartered in Lagos, Nigeria. We are a global company of over 90 employees with operations in Nigeria, Ghana and Kenya</p>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-section staff-pictures about wf-section">
    <div class="large-single-img">
      <div class="photo-wrapper-box about"></div>
    </div>
  </div>
  <div class="hero-section leadership wf-section">
    <div class="container leaders">
      <div data-w-id="c15e7ed6-a220-0a0c-1079-5e5019fa62f1" class="about-flex leaders-pic">
        <div class="leadership">
          <h1 class="heading leadership-header">Our Founders</h1>
        </div>
        <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 400;  repeat: true" data-w-id="9666ad7c-feee-246f-7d45-c0ec168136a3" class="w-layout-grid feature-grid">
          <a id="w-node-_9666ad7c-feee-246f-7d45-c0ec168136a4-cb73502e" href="#" class="feature-card chijioke w-inline-block"></a>
          <div id="w-node-c9a57c35-b4d9-1b18-4734-0b44a439001c-cb73502e" class="div-block-52">
            <h4 class="ngozi">Chijioke Dozie</h4>
            <p class="paragraph-10">Co-founder &amp; CEO</p>
            <div class="image-icon-wrapper">
              <p class="paragraph-9 ounder-bio">Chijioke Dozie was an investment analyst at the international Finance Corporation and an investment associate at Zephyr Management LP in the US and South Africa. He holds an MBS from Harvard Business School.</p>
            </div>
            <a href="#" class="dozie-linkedin-1 w-inline-block"><img src="../../../assests/images/010-linkedin.svg" loading="lazy" width="34" alt="" class="icon-11"></a>
          </div>
        </div>
        <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 600;  repeat: true" data-w-id="e31ad990-73d8-b165-ebe7-e5a11141d96e" class="w-layout-grid feature-grid last">
          <a id="w-node-e31ad990-73d8-b165-ebe7-e5a11141d96f-cb73502e" href="#" class="feature-card ngozi w-inline-block"></a>
          <div class="div-block-53">
            <h4 class="ngozi">Ngozi Dozie</h4>
            <p class="paragraph-10">Co-founder &amp; Managing Director</p>
            <div class="image-icon-wrapper">
              <p class="paragraph-9 ounder-bio">Ngozi Dozie was an investment banker at JPMorgan in New York, a business process risk consultant at Arthur  Andersen UK and a financial analyst at Deloitte &amp; Touche. He holds an MBA from Wharton School and is a CFA Charter holder.</p>
            </div>
            <a href="#" target="_blank" class="w-inline-block"><img src="../../../assests/images/010-linkedin.svg" loading="lazy" width="34" alt="" class="dozie-2"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-section pictures-company wf-section">
    <div class="container-pictures">
      <div class="infinite-scroll-wrapper">
        <div class="coniner-div">
          <div class="horizontal-div first-img"></div>
          <div class="horizontal-div bottom"></div>
        </div>
        <div class="div-block-44"></div>
        <div class="company-people-img"></div>
      </div>
      <div class="infinite-scroll-wrapper">
        <div class="coniner-div">
          <div class="horizontal-div first-img-2"></div>
          <div class="horizontal-div bottom-2"></div>
        </div>
        <div class="middle-img"></div>
        <div class="company-people-img-2"></div>
      </div>
    </div>
  </div>
  <div class="hero-section history-phase wf-section">
    <div class="container">
      <div class="providing-credit">
        <h1 class="heading providing-f-services">We have been providing credit to Nigerian consumers for over 8 years…</h1>
      </div>
      <div data-w-id="568b786f-30f9-d164-04a5-3a13100f9169" class="testimonial-wrapper">
        <div data-animation="slide" data-hide-arrows="1" data-duration="500" data-infinite="1" class="slider-2 w-slider">
          <div class="mask-2 w-slider-mask">
            <div class="slide-4 w-slide">
              <div class="slide-wrap">
                <div class="history-title-container">
                  <div class="tag-container">
                    <div class="history-tag">
                      <div class="text-block-18">2012</div>
                    </div>
                  </div>
                  <div class="one-credit-block"><img src="../../../assests/images/one-credit.svg" width="100" alt="" class="carbon-history">
                    <div class="carbon">The journey to democratize credit in Nigeria began</div>
                  </div>
                </div>
                <div class="standard-paragraph">One Credit was founded in Lagos, Nigeria. The company provided loans to salary earners only, using a paper based application process that required supporting documentation.</div>
              </div>
            </div>
            <div class="slide-4 w-slide">
              <div class="slide-wrap">
                <div class="history-title-container">
                  <div class="tag-container">
                    <div class="history-tag">
                      <div class="text-block-18">2015</div>
                    </div>
                  </div>
                  <div class="one-fi-block"><img src="../../../assests/images/One-Fi.svg" width="100" alt="" class="carbon-history">
                    <div class="carbon">More credit for more people…</div>
                  </div>
                </div>
                <div class="standard-paragraph">The company broadened its service offering, leveraging a network of agents on the ground to get lending services in the hands of thousands of Nigerians under the OneFi brand.</div>
              </div>
            </div>
            <div class="slide-4 w-slide">
              <div class="slide-wrap">
                <div class="history-title-container">
                  <div class="tag-container">
                    <div class="history-tag">
                      <div class="text-block-18">2016</div>
                    </div>
                  </div>
                  <div class="profile-block"><img src="../../../assests/images/Image-65.svg" width="120" alt="" class="profile-image">
                    <div class="faq-title">Going digital…</div>
                  </div>
                </div>
                <div class="standard-paragraph">The Paylater mobile app was launched in May 2016. It was the first service of its kind. A fully digital consumer lending experience, available 24/7, that can get borrowed funds into a person’s account in minutes. After just 2 years in market, the Paylater mobile app was downloaded by over 1 million users.</div>
              </div>
            </div>
            <div class="slide-4 w-slide">
              <div class="slide-wrap">
                <div class="history-title-container">
                  <div class="tag-container">
                    <div class="history-tag">
                      <div class="text-block-18">2019</div>
                    </div>
                  </div>
                  <div class="carbon-block"><img src="../../../assests/images/Logo.svg" width="120" alt="" class="carbon-history">
                    <div class="carbon">Enter Carbon…</div>
                  </div>
                </div>
                <div class="standard-paragraph">As the suite of financial services offered in the app expanded from just loans and into payments, investments and personal finance management, the name ‘Paylater’ became a little limiting. Carbon represents our intent to offer the most diverse digital finance platform, anywhere.</div>
              </div>
            </div>
          </div>
          <div class="arrow-left w-slider-arrow-left">
            <div class="arrow-icon w-icon-slider-left"></div>
          </div>
          <div class="arrow-right w-slider-arrow-right">
            <div class="arrow-icon w-icon-slider-right"></div>
          </div>
          <div class="slide-nav w-slider-nav w-round"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-section carbon-is-growing wf-section">
    <div class="about-hero-container">
      <div data-w-id="c0d256e8-b9c6-f78f-7af1-24267e0a741c" class="about-flex grow">
        <div class="carbon-grow-title-wrapper">
          <h1 class="heading grow-with-us">Carbon is growing. Grow with us.</h1>
        </div>
      </div>
      <p class="grow-copy">Come do meaningful work with kind, smart colleagues who’re invested in your growth.</p>
      <div class="more-stories-container">
        <a href="careers.html" class="link">Visit Carbon careers</a>
        <div class="icon-link"></div>
      </div>
      <div class="image-contain---grow-with-us"></div>
    </div>
  </div>