<div class="hero-section best-bank-hero wf-section">
    <div class="building-best-bank-hero career">
      <div data-w-id="6c17bf31-1dd9-801a-831c-3a5f75269a0b" class="about-flex best-africa-bank">
        <div class="best-bank-wrapper">
          <h1 class="heading building-best-bank">We are creating access to the most basic financial services</h1>
        </div>
        <p class="paragraph media-copy">Join our team and help build Africa’s best banking platform. Grow with us and get more from your career</p>
        <a [routerLink]="['/about']" routerLinkActive="router-link-active"  class="explore-one-roles w-button">Explore open roles</a>
        <div class="more-stories-container">
          <a [routerLink]="['/hiring-process']" routerLinkActive="router-link-active"  class="link">How we Hire</a>
          <div class="icon-link"></div>
        </div>
      </div>
      <img uk-scrollspy=" cls: uk-animation-slide-right; delay: 300;  repeat: true" src="../../../assets/images/1e57017c3ba51b8d988445efcd99e22a2x-min_1.png" loading="lazy" width="70" alt="" class="staff-img3">
      <img uk-scrollspy=" cls: uk-animation-slide-right; delay: 400;  repeat: true" src="../../../assets/images/cc1991c8777595804694863a00d01bfa2x-min.png" loading="lazy" width="88" alt="" class="staff-img2">
      <img uk-scrollspy=" cls: uk-animation-slide-right; delay: 500;  repeat: true" src="../../../assets/images/e475b22f7a6cc8a3cacd4b21e157a8022x-min.png" loading="lazy" width="50" alt="" class="staff-img5">
      <img uk-scrollspy=" cls: uk-animation-slide-right; delay: 600;  repeat: true" src="../../../assets/images/7bc8075c64b4c2ae812c950cf7a1db102x-min.png" loading="lazy" width="58" alt="" class="staff-img4">
      <img uk-scrollspy=" cls: uk-animation-slide-right; delay: 700;  repeat: true" src="../../../assets/images/88e00fc8f5a983413bdefecbce0ea9352x-min.png" loading="lazy" width="111" alt="" class="staff-img8">
      <img  uk-scrollspy=" cls: uk-animation-slide-right; delay: 800; repeat: true"src="../../../assets/images/938a7d167400c30dd2064b16e9a99fda2x-min.png" loading="lazy" width="62" alt="" class="staff-img7">
      <img uk-scrollspy=" cls: uk-animation-slide-right; delay: 900;  repeat: true" src="../../../assets/images/ef5ea940b79ff5f73ad41e2234dfb61c2x-min.png" loading="lazy" width="86" alt="" class="staff-img6">
      <img uk-scrollspy=" cls: uk-animation-slide-right; delay: 1000;  repeat: true" src="../../../assets/images/8392d085c7fd52f7a27e8435b86a9a442x-min.png" loading="lazy" width="80" alt="" class="staff-img1">
    </div>
  </div>
  <div class="hero-section pictures-company wf-section">
    <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 300;  repeat: true" class="container-pictures">
      <div class="infinite-scroll-wrapper">
        <div class="coniner-div">
          <div class="horizontal-div first-img"></div>
          <div class="horizontal-div bottom"></div>
        </div>
        <div class="div-block-44"></div>
        <div class="company-people-img"></div>
      </div>
      <div class="infinite-scroll-wrapper">
        <div class="coniner-div">
          <div class="horizontal-div first-img-2"></div>
          <div class="horizontal-div bottom-2"></div>
        </div>
        <div class="middle-img"></div>
        <div class="company-people-img-2"></div>
      </div>
    </div>
  </div>
  <div uk-scrollspy=" cls: uk-animation-fade; delay: 500;  repeat: true"class="hero-section pictures wf-section">
    <div class="about-hero-container">
      <div data-w-id="37a3a678-0e04-3a36-9706-4aa0d43689e7"class="why-carbon">
        <h1 class="heading why-carbon-header">Why Carbon?</h1>
        <p class="paragraph-9">We empower individuals with credit, simple payments solutions, high-yield investment opportunities, and easy-to-use tools for personal financial management. We are a global company of over 90 employees with a presence in Mauritius, Nigeria, the United Kingdom, United States, Canada, South Africa, and Kenya.</p>
      </div>
      <div data-w-id="1f78642a-365d-a6c8-ceb5-579fae2b14b8" class="why-carbon-img career_img"></div>
    </div>
  </div>
  <div data-w-id="470eb67d-d40b-ac95-df34-a51ac1707a4b" class="hero-section pictures wf-section">
    <div class="about-hero-container">
      <div class="our-core-value core-wrapper">
        <h1 class="heading mission-header">Our core values</h1>
        <p class="core-value-details">Our cultural philosophy consists or 6 guiding principles known collectively as CREDIT</p>
      </div>
    </div>
    <div class="core-value-cards">
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 300;  repeat: true" class="rapid-response-value customer-first">
        <div class="icon-container avatar customer-first"></div>
        <div class="value-title">
          <p class="core-values-1 customer-first">Customer first</p>
        </div>
        <p class="pcards-copy">The customer is our top priority and we are committed to providing the best service to all - both internal and external customers.</p>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 500;  repeat: true" class="rapid-response-value rapid-response">
        <div class="icon-container second-value rapid-response"></div>
        <div class="value-title">
          <p class="core-values-1 rapid-response">Rapid response</p>
        </div>
        <p class="pcards-copy">At Carbon, we understand timely information is valuable, which is why we are committed to giving quick and appropriate responses to enquiries. We also take responsibility for each of our actions.</p>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 700;  repeat: true" class="rapid-response-value equity">
        <div class="icon-container equity equity"></div>
        <div class="value-title">
          <p class="core-values-1 equity">Equity</p>
        </div>
        <p class="pcards-copy">We believe in fair play. This means everyone is treated with justice. Moreover, we aim to ensure our processes are characterised by transparency.</p>
      </div>
    </div>
    <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 900;  repeat: true" class="core-value-cards">
      <div class="rapid-response-value diginity">
        <div class="icon-container avatar dignity"></div>
        <div class="pcards-tag-container">
          <p class="core-values-1 customer-first">Dignity</p>
        </div>
        <p class="pcards-copy">Respect of self and others is important to us. Including respects for the environment ; people’s privacy, physical space, belongings, perspectives, philosophies, religion, gender, ethnicity physical ability and personality.</p>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 1100;  repeat: true" class="rapid-response-value innovation">
        <div class="icon-container avatar innovation"></div>
        <div class="pcards-tag-container">
          <p class="core-values-1 rapid-response">Innovation</p>
        </div>
        <p class="pcards-copy">We strive to continuously improve our minds, viewpoints, products and services to not only meet the changing needs of our clients, but to also impact our industry and society.</p>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 1300;  repeat: true" class="rapid-response-value tech">
        <div class="icon-container tech"></div>
        <div class="value-title">
          <p class="core-values-1 equity">Technology</p>
        </div>
        <p class="pcards-copy">Our use of technology is to help simplify all internal and external business processes, and enable us be easily accessible by anyone irrespective of distance and time of the day.</p>
      </div>
    </div>
  </div>
  <div class="hero-section staff-pictures wf-section">
    <div class="large-single-img carbon">
      <div class="photo-wrapper-box c_photo"></div>
    </div>
  </div>
  <div data-w-id="8a6b0faf-0a83-2cda-464d-8e8a03a1287a" class="hero-section perks-benefits wf-section">
    <div class="about-hero-container">
      <div class="perks-benefits">
        <h1 class="heading perks-and-benefits">Perks and benefits</h1>
        <p class="perks-and-benefit-details">At Carbon, People are the heart of the business, so we prioritize their welfare. We offer a wide range of competitive benefits in areas including but not limited to;</p>
      </div>
    </div>
    <div class="carbon-benefits">
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 300;  repeat: true" class="perks-1 first-card">
        <div class="icon-container avatar perks-1-icon-container"></div>
        <p class="work-environment">A great and upbeat work environment populated by a multinational team.</p>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 500;  repeat: true" class="perks-1 first-card">
        <div class="icon-container avatar perks-2-icon-container-copy"></div>
        <p class="work-environment">Potential to work in different geographies</p>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 700;  repeat: true" class="perks-3 first-card-copy">
        <div class="icon-container avatar perks-3-icon-container-copy"></div>
        <p class="work-environment">As a new member, you are entitled to a new high-end laptop to work from</p>
      </div>
    </div>
    <div class="carbon-benefits">
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 900;  repeat: true" class="perks-1 first-card">
        <div class="icon-container avatar perks-4-icon-container-copy"></div>
        <p class="work-environment">We provide our employees with a premium healthcare insurance</p>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 1100;  repeat: true" class="perks-1 first-card">
        <div class="icon-container avatar perks-5-icon-container"></div>
        <p class="work-environment">We believe in continuous learning and we encourage development &amp; growth.</p>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 1300;  repeat: true" class="perks-3 first-card-copy">
        <div class="icon-container avatar perks-6-icon-container"></div>
        <p class="work-environment">For work life balance we offer remote working option for certain roles.</p>
      </div>
    </div>
    <div class="carbon-benefits">
      <div class="perks-1 first-card">
        <div class="icon-container avatar perks-7-icon-container"></div>
        <p class="work-environment">Life Insurance benefit available to all employees</p>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 1500;  repeat: true" class="perks-1 first-card">
        <div class="icon-container avatar perks-8-icon-container"></div>
        <p class="work-environment">Staff Discount at Select Coffee Shops – We love our Coffee!</p>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 1700;  repeat: true" class="perks-3 first-card-copy">
        <div class="icon-container avatar perks-9-icon-container"></div>
        <p class="work-environment">Paid annual vacation days guaranteed immediately after work confirmation.</p>
      </div>
    </div>
  </div>
  <div data-w-id="c640d9dd-48d4-dbcc-9a8c-31d2936dfecf" class="hero-section pictures wf-section">
    <div class="about-hero-container">
      <div data-w-id="c640d9dd-48d4-dbcc-9a8c-31d2936dfed1" class="our-core-value">
        <h1 class="heading what-team-says staff-story">What our team say about Carbon</h1>
      </div>
    </div>
    <div class="team-story">
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 300;  repeat: true" class="team-story-1 first-card">
        <p class="testimony-copy">Carbon provides a goal-driven and forward-thinking environment for staff. Creativity here is fueled by innovation and a flexible work-from-home schedule.</p>
        <div class="div-block-47">
          <div class="staff-img avatar victory"></div>
          <div class="div-block-48">
            <div class="staff-name"><strong class="name-staff">Victory Ogbebor</strong></div>
            <div class="position"><strong class="staff-position">Portfolio analyst</strong></div>
          </div>
        </div>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 500;  repeat: true" class="team-story-1 first-card">
        <p class="testimony-copy">The work-life balance observed here is amazing and the company supports our physical and mental health. I look forward to being a part of Carbon for a long time to come.</p>
        <div class="div-block-47">
          <div class="staff-img avatar ayomide"></div>
          <div class="div-block-48">
            <div class="staff-name"><strong class="name-staff">Ayomide Adeniran</strong></div>
            <div class="position"><strong class="staff-position">Senior Scrum Master</strong></div>
          </div>
        </div>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 700;  repeat: true" class="team-story-1 last-card">
        <p class="testimony-copy">The work ambience is spectacular with encouraging words facing me, ready to inspire when I’m having a hard day. I also have ever-friendly colleagues who make my work enjoyable and worth it.</p>
        <div class="div-block-47">
          <div class="staff-img avatar kingsley"></div>
          <div class="div-block-48">
            <div class="staff-name"><strong class="name-staff">Kingsley Uchechi Uzoma</strong></div>
            <div class="position"><strong class="staff-position">Lead Customer Success</strong></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-section ready-to-join wf-section">
    <div class="channel-container ready-to-join">
      <h2 class="ready-to-join-carbon">Ready to break boundaries with us?</h2>
      <a href="#" class="explore-open-roles download-button w-button">Explore open roles</a>
    </div>
  </div>