<div class="hero-section carbon-channels wf-section">
  <div class="channel-container">
    <h2 class="heading-5">A digital bank made just for you</h2>
    <p class="paragraph-3">Open a new Carbon bank account from your phone or computer and follow the simple on-screen steps to register for an account in minutes.</p>
    <div class="channel-icon-container">
      <a href="#" class="channel-icons w-inline-block">
        <div class="channel-link"></div>
      </a>
      <a href="#" class="channel-icons apple-store2 w-inline-block">
        <div class="channel-link link-1"></div>
      </a>
      <a href="#" target="_blank" class="channel-icons web3 w-inline-block">
        <div class="channel-link link-2"></div>
      </a>
      <a href="#" class="channel-icons last-icon w-inline-block">
        <div class="channel-link link-3"></div>
      </a>
    </div>
  </div>
</div>

<div class="footer carbon-footer wf-section">
    <div class="footer-container">
      <div class="footer-column first-fcontent"><img src="../../../assets/images/logo-small.svg" loading="lazy" width="120" alt="" class="image-10">
        <div data-hover="" data-delay="0" class="dropdown-2 w-dropdown">
          <div class="dropdown-toggle w-dropdown-toggle">
            <div class="icon-4 w-icon-dropdown-toggle"></div>
            <div class="logo"><img src="../../../assets/images/Image-48.svg" loading="lazy" alt=""></div>
            <div class="text-block-7">Nigeria</div>
          </div>
          <nav class="dropdown-list w-dropdown-list">
            <a href="#" class="dropdown-link w-dropdown-link">Kenya</a>
            <a href="#" class="dropdown-link-2 w-dropdown-link">Ghana</a>
          </nav>
        </div>
      </div>
      <div class="footer-column footer-links">
        <h4 class="heading-6">Features</h4>
        <a [routerLink]="['/carbon-account']" routerLinkActive="router-link-active"  class="footer-links">Carbon account</a>
        <a [routerLink]="['/payments']" routerLinkActive="router-link-active"  class="footer-links">Payments</a>
        <a [routerLink]="['/cards']" routerLinkActive="router-link-active"  class="footer-links">Cards</a>
        <a [routerLink]="['/savings']" class="footer-links">Investments</a>
        <a [routerLink]="['/credit-report']" routerLinkActive="router-link-active"  class="footer-links">Credit report</a>
        <a [routerLink]="['/loans']" routerLinkActive="router-link-active"  class="footer-links">Loans</a>
      </div>
      <div class="footer-column footer-links">
        <h4 class="heading-6">Learn more</h4>
        <a [routerLink]="['/loans']" routerLinkActive="router-link-active"class="footer-links">Personal loans<br></a>
        <a [routerLink]="['/loans']" routerLinkActive="router-link-active" class="footer-links business">Get loans fast</a>
        <a [routerLink]="['/loans']" routerLinkActive="router-link-active" class="footer-links business">Loans in Nigeria<br></a>
        <a [routerLink]="['/loans']" routerLinkActive="router-link-active" class="footer-links business">Carbon loan</a>
        <a [routerLink]="['/loans']" routerLinkActive="router-link-active" class="footer-links business">SME loans</a>
        <a [routerLink]="['/loans']" routerLinkActive="router-link-active" class="footer-links business">Instant loans</a>
        <a [routerLink]="['/loans']" routerLinkActive="router-link-active" class="footer-links business">Carbon app</a>
        <a [routerLink]="['/loans']" routerLinkActive="router-link-active" class="footer-links business">Loans for business</a>
        <a [routerLink]="['/savings']" routerLinkActive="router-link-active"  class="footer-links business">Loans without collateral</a>
      </div>
      <div class="footer-column footer-links">
        <h4 class="heading-6">Company</h4>
        <a [routerLink]="['/about']" routerLinkActive="router-link-active"  class="footer-links">About us</a>
        <a [routerLink]="['/media']" routerLinkActive="router-link-active"  class="footer-links">Media</a>
        <a [routerLink]="['/careers']" routerLinkActive="router-link-active"  class="footer-links">Careers</a>
        <a href="#" target="_blank" class="footer-links">Blog</a>
        <a [routerLink]="['/customers']" routerLinkActive="router-link-active"  class="footer-links">Customers</a>
      </div>
      <div class="footer-column footer-links _4th">
        <h4 class="heading-6">Help</h4>
        <a href="#" target="_blank" class="footer-links">Knowledge base</a>
        <a [routerLink]="['/contact-us']" routerLinkActive="router-link-active"  class="footer-links">Contact</a>
        <a href="#" class="footer-links">Community</a>
      </div>
      <div class="footer-column footer-links last-link-block">
        <h4 class="heading-6">Legal</h4>
        <a [routerLink]="['/privacy-policy']" routerLinkActive="router-link-active"  class="footer-links">Privacy policy</a>
        <a [routerLink]="['/terms-and-conditions']" routerLinkActive="router-link-active"  class="footer-links">Terms &amp; Conditions</a>
        <a href="#" class="footer-links">Cookies</a>
      </div>
    </div>
    <div class="footer-socials">
      <div class="appstores-containers">
        <a href="#" class="storelink-block-1 w-inline-block"><img src="../../../assets/images/Download_on_the_App_Store_Badge_1.svg" loading="lazy" alt=""></a>
        <a href="#" class="storelink-block w-inline-block"><img src="../../../assets/images/Google_Play_Store_badge_EN_1.svg" loading="lazy" alt=""></a>
      </div>
      <div class="social-media-container">
        <a href="#" class="social-links w-inline-block"><img src="../../../assets/images/008-facebook.svg" loading="lazy" alt=""></a>
        <a href="#" class="social-links w-inline-block"><img src="../../../assets/images/001-twitter.svg" loading="lazy" alt=""></a>
        <a href="#" class="social-links w-inline-block"><img src="../../../assets/images/011-instagram.svg" loading="lazy" alt=""></a>
        <a href="#" class="social-links w-inline-block"><img src="../../../assets/images/007-youtube.svg" loading="lazy" alt=""></a>
        <a href="#" class="social-links w-inline-block"><img src="../../../assets/images/010-linkedin.svg" loading="lazy" alt=""></a>
        <a href="#" class="social-links w-inline-block"><img src="../../../assets/images/006-tumblr.svg" loading="lazy" alt=""></a>
      </div>
    </div>

  </div>