<div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="navigation w-nav">
    <div class="nav-background">
      <div class="navigation-container">
        <div class="navigation-left">
          <div class="div-block-38">
            <a [routerLink]="['/home']" routerLinkActive="router-link-active"  class="brand-2 w-nav-brand"><img src="../../../assets/images/Logo.svg" width="200" alt="" class="carbon-main-logo"></a>
            <div class="plans">
              <a [routerLink]="['/home']" routerLinkActive="router-link-active"  class="nav-link-3 w-nav-link">Personal</a>
              <a href="#" target="_blank" class="business-link w-nav-link">Business</a>
            </div>
          </div>
        </div>
        <div class="navigation-right">
          <nav role="navigation" class="nav-menu-2 w-nav-menu">
            <div data-hover="1" data-delay="0" class="dropdown-3 w-dropdown">
              <div class="dropdown-toggle---features w-dropdown-toggle">
                <div class="text-block-13">Features</div>
              </div>
              <nav class="navigation-dropdown-2 dropdown-long w-dropdown-list">
                <div class="dropdown-pointer">
                  <div class="dropdown-wrapper-flex">
                    <div class="dropdown-column-left-features">
                      <a [routerLink]="['/carbon-account']" routerLinkActive="router-link-active"  class="dropdown-link-3 w-inline-block">
                        <div class="wallet-icon-wrap"></div>
                        <div class="nav-content-wrap">
                          <div class="dropdown-title-2">Carbon bank account</div>
                          <div class="nav-link-details">Store your money with convenience</div>
                        </div>
                      </a>
                      <a [routerLink]="['/payments']" routerLinkActive="router-link-active" class="dropdown-link-3 w-inline-block">
                        <div class="payments-icon-wrapper"></div>
                        <div class="nav-content-wrap">
                          <div class="dropdown-title-2">Payments</div>
                          <div class="nav-link-details">All your payments, in one place</div>
                        </div>
                      </a>
                      <a [routerLink]="['/cards']" routerLinkActive="router-link-active"  class="dropdown-link-3 w-inline-block">
                        <div class="cards-icon-wrapper"></div>
                        <div class="nav-content-wrap">
                          <div class="dropdown-title-2">Cards</div>
                          <div class="nav-link-details">Online and offline  payments with cards</div>
                        </div>
                      </a>
                    </div>
                    <div class="dropdown-column-right-features">
                      <a [routerLink]="['/savings']" routerLinkActive="router-link-active"  class="dropdown-link-3 w-inline-block">
                        <div class="investment-icon-wrapper"></div>
                        <div class="nav-content-wrap">
                          <div class="dropdown-title-2">Savings</div>
                          <div class="nav-link-details">Earn returns on savings on Carbon</div>
                        </div>
                      </a>
                      <a [routerLink]="['/credit-report']" routerLinkActive="router-link-active"  class="dropdown-link-3 w-inline-block">
                        <div class="creport-icon-wrapper"></div>
                        <div class="nav-content-wrap">
                          <div class="dropdown-title-2">Credit report</div>
                          <div class="nav-link-details">Keep track of your credit history</div>
                        </div>
                      </a>
                      <a [routerLink]="['/loans']" routerLinkActive="router-link-active"  class="dropdown-link-3 w-inline-block">
                        <div class="icon-wrap-loans"></div>
                        <div class="nav-content-wrap">
                          <div class="dropdown-title-2">Loans</div>
                          <div class="nav-link-details">Instant loans whenever you need it</div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="pointer features"></div>
                </div>
              </nav>
            </div>
            <div data-hover="1" data-delay="0" class="dropdown-3 w-dropdown">
              <div class="dropdown-toggle-company w-dropdown-toggle">
                <div class="text-block-13">Company</div>
              </div>
              <nav class="navigation-dropdown-2 dropdown-long company w-dropdown-list">
                <div class="dropdown-pointer">
                  <div class="dropdown-wrapper-flex">
                    <div class="dropdown-column-left-company">
                      <a [routerLink]="['/about']" routerLinkActive="router-link-active"  class="dropdown-link-3 w-inline-block">
                        <div class="about-us-icon-wrap"></div>
                        <div class="nav-content-wrap">
                          <div class="dropdown-title-2">About us</div>
                          <div class="nav-link-details">Providing financial access to everyone</div>
                        </div>
                      </a>
                      <a [routerLink]="['/media']" routerLinkActive="router-link-active"  class="dropdown-link-3 w-inline-block">
                        <div class="media-icon-wrapper"></div>
                        <div class="nav-content-wrap">
                          <div class="dropdown-title-2">Media</div>
                          <div class="nav-link-details">Press information, media kit &amp; latest news</div>
                        </div>
                      </a>
                      <a [routerLink]="['/careers']" routerLinkActive="router-link-active"  aria-current="page" class="dropdown-link-3 w-inline-block w--current">
                        <div class="career-icon-wrapper"></div>
                        <div class="nav-content-wrap">
                          <div class="dropdown-title-2">Careers</div>
                          <div class="nav-link-details">Build the best bank in Africa</div>
                        </div>
                      </a>
                    </div>
                    <div class="dropdown-column-right-company">
                      <a href="#" target="_blank" class="dropdown-link-3 w-inline-block">
                        <div class="blog-icon-wrapper"></div>
                        <div class="nav-content-wrap">
                          <div class="dropdown-title-2">Blog</div>
                          <div class="nav-link-details">Get Carbon news and updates</div>
                        </div>
                      </a>
                      <a [routerLink]="['/customers']" routerLinkActive="router-link-active"  class="dropdown-link-3 w-inline-block">
                        <div class="customers-icon-wrapper-copy"></div>
                        <div class="nav-content-wrap">
                          <div class="dropdown-title-2">Customers</div>
                          <div class="nav-link-details">We’re proud to have helped many people.</div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="pointer company"></div>
                </div>
              </nav>
            </div>
            <div data-hover="1" data-delay="0" class="dropdown-3 w-dropdown">
              <div class="dropdown-toggle-help w-dropdown-toggle">
                <div class="text-block-13">Help</div>
              </div>
              <nav class="navigation-dropdown-2 dropdown-help company w-dropdown-list">
                <div class="dropdown-pointer">
                  <div class="dropdown-wrapper-single-flex">
                    <div class="dropdown-column-left">
                      <a href="#" class="dropdown-link-4 w-inline-block">
                        <div class="knowledge-base-icon-wrap"></div>
                        <div class="nav-content-wrap">
                          <div class="dropdown-title-2">Knowledge base</div>
                          <div class="nav-link-details">Get answers to common issues</div>
                        </div>
                      </a>
                      <a [routerLink]="['/contact-us']" routerLinkActive="router-link-active"  class="dropdown-link-4 w-inline-block">
                        <div class="contact-icon-wrapper"></div>
                        <div class="nav-content-wrap">
                          <div class="dropdown-title-2">Contact</div>
                          <div class="nav-link-details">Like to reach out? Get in touch with us</div>
                        </div>
                      </a>
                      <a href="#" class="dropdown-link-4 w-inline-block">
                        <div class="community-icon-wrapper"></div>
                        <div class="nav-content-wrap">
                          <div class="dropdown-title-2">Community</div>
                          <div class="nav-link-details">Join our community and get updated</div>
                        </div>
                      </a>
                      <a href="#" target="_blank" class="dropdown-link-4 w-inline-block">
                        <div class="report-issue"></div>
                        <div class="nav-content-wrap">
                          <div class="dropdown-title-2">Report account</div>
                          <div class="nav-link-details">Report suspicious activity on your account</div>
                        </div>
                      </a>
                    </div>
                    <div class="dropdown-column-left"></div>
                  </div>
                  <div class="pointer"></div>
                </div>
              </nav>
            </div>
          </nav>
          <div class="login-buttons">
            <a href="#" class="sign-in w-button">Sign in</a>
            <a href="#" class="create-account w-button">Create free account</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease-out" data-easing2="ease-out" role="banner" class="navigation-mob w-nav">
    <div class="navigation-container-mob">
      <a href="#" class="w-nav-brand"><img src="../../../assets/images/Logo.svg" alt="" class="carbon-main-logo"></a>
      <nav role="navigation" class="mobile-nav w-nav-menu">
        <div class="plans">
          <a [routerLink]="['/home']" routerLinkActive="router-link-active"  class="nav-link-3 w-nav-link">Personal</a>
          <a href="#" target="_blank" class="business-link w-nav-link">Business</a>
        </div>
        <div data-delay="0" class="mobile-dropdown w-dropdown">
          <div class="mobile-toggle w-dropdown-toggle">
            <div class="icon-8 w-icon-dropdown-toggle"></div>
            <div class="text-block-14">Features</div>
          </div>
          <nav class="dropdown-list-2 w-dropdown-list">
            <a [routerLink]="['/carbon-account']" routerLinkActive="router-link-active"  class="dropdown-link-mobile w-inline-block">
              <div class="icon-wrap-wallet"></div>
              <div class="nav-content-wrap">
                <div class="dropdown-title">Carbon bank account</div>
                <div class="nav-link-details">Store your money with convenience</div>
              </div>
            </a>
            <a [routerLink]="['/payments']" routerLinkActive="router-link-active"  class="dropdown-link-mobile w-inline-block">
              <div class="icon-wrap-payments"></div>
              <div class="nav-content-wrap">
                <div class="dropdown-title">Payments</div>
                <div class="nav-link-details">All your payments, in one place</div>
              </div>
            </a>
            <a [routerLink]="['/cards']" routerLinkActive="router-link-active"  class="dropdown-link-mobile w-inline-block">
              <div class="icon-wrap-cards"></div>
              <div class="nav-content-wrap">
                <div class="dropdown-title">Cards</div>
                <div class="nav-link-details">Online and offline  payments with cards</div>
              </div>
            </a>
            <a [routerLink]="['/savings']" routerLinkActive="router-link-active"  class="dropdown-link-mobile w-inline-block">
              <div class="icon-wrap-investment"></div>
              <div class="nav-content-wrap">
                <div class="dropdown-title">Savings</div>
                <div class="nav-link-details">Earn returns on savings on Carbon</div>
              </div>
            </a>
            <a [routerLink]="['/credit-report']" routerLinkActive="router-link-active"  class="dropdown-link-mobile w-inline-block">
              <div class="icon-wrap-credit"></div>
              <div class="nav-content-wrap">
                <div class="dropdown-title">Credit report</div>
                <div class="nav-link-details">Keep track of your credit history</div>
              </div>
            </a>
            <a [routerLink]="['/loans']" routerLinkActive="router-link-active"  class="dropdown-link-mobile w-inline-block">
              <div class="icon-wrapper-loans"></div>
              <div class="nav-content-wrap">
                <div class="dropdown-title">Loans</div>
                <div class="nav-link-details">Instant loans whenever you need it</div>
              </div>
            </a>
          </nav>
        </div>
        <div data-delay="0" class="mobile-dropdown w-dropdown">
          <div class="mobile-toggle w-dropdown-toggle">
            <div class="icon-9 w-icon-dropdown-toggle"></div>
            <div class="text-block-15">Company</div>
          </div>
          <nav class="dropdown-list-2 w-dropdown-list">
            <a [routerLink]="['/about']" routerLinkActive="router-link-active"  class="dropdown-link-mobile w-inline-block">
              <div class="icon-wrap-about-us"></div>
              <div class="nav-content-wrap">
                <div class="dropdown-title">About us</div>
                <div class="nav-link-details">Providing financial access to everyone</div>
              </div>
            </a>
            <a [routerLink]="['/media']" routerLinkActive="router-link-active"  class="dropdown-link-mobile w-inline-block">
              <div class="icon-wrap-media"></div>
              <div class="nav-content-wrap">
                <div class="dropdown-title">Media</div>
                <div class="nav-link-details">Press information, media kit &amp; latest news</div>
              </div>
            </a>
            <a [routerLink]="['/careers']" routerLinkActive="router-link-active"  aria-current="page" class="dropdown-link-mobile w-inline-block w--current">
              <div class="icon-wrap-career"></div>
              <div class="nav-content-wrap">
                <div class="dropdown-title">Careers</div>
                <div class="nav-link-details">Build the best bank in Africa</div>
              </div>
            </a>
            <a href="#" target="_blank" class="dropdown-link-mobile w-inline-block">
              <div class="icon-wrap-blog"></div>
              <div class="nav-content-wrap">
                <div class="dropdown-title">Blog</div>
                <div class="nav-link-details">Get Carbon news and updates</div>
              </div>
            </a>
            <a [routerLink]="['/customers']" routerLinkActive="router-link-active"  class="dropdown-link-mobile w-inline-block">
              <div class="icon-wrap-customers"></div>
              <div class="nav-content-wrap">
                <div class="dropdown-title">Customers</div>
                <div class="nav-link-details">We’re proud to have helped many people.</div>
              </div>
            </a>
          </nav>
        </div>
        <div data-delay="0" class="mobile-dropdown w-dropdown">
          <div class="mobile-toggle w-dropdown-toggle">
            <div class="icon-9 w-icon-dropdown-toggle"></div>
            <div class="text-block-15">Help</div>
          </div>
          <nav class="dropdown-list-2 w-dropdown-list">
            <a href="#" target="_blank" class="dropdown-link-mobile w-inline-block">
              <div class="knowledge-base-icon-wrap"></div>
              <div class="nav-content-wrap">
                <div class="dropdown-title">Knowledge base</div>
                <div class="nav-link-details">Get answers to common issues</div>
              </div>
            </a>
            <a [routerLink]="['/contact-us']" routerLinkActive="router-link-active"  class="dropdown-link-mobile w-inline-block">
              <div class="contact-icon-wrapper"></div>
              <div class="nav-content-wrap">
                <div class="dropdown-title">Contact</div>
                <div class="nav-link-details">Like to reach out? Get in touch with us</div>
              </div>
            </a>
            <a href="#" class="dropdown-link-mobile w-inline-block">
              <div class="community-icon-wrapper"></div>
              <div class="nav-content-wrap">
                <div class="dropdown-title">Community</div>
                <div class="nav-link-details">Join our community and get updated</div>
              </div>
            </a>
            <a href="#" target="_blank" class="dropdown-link-mobile w-inline-block">
              <div class="report"></div>
              <div class="nav-content-wrap">
                <div class="dropdown-title">Report account</div>
                <div class="nav-link-details">Report suspicious activity on your account</div>
              </div>
            </a>
          </nav>
        </div>
        <a href="#" class="mobile-nav-link w-nav-link">Sign in</a>
      </nav>
      <div class="menu-mob w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>