<div class="hero-section investment-hero wf-section">
    <div class="container investment---hero">
      <div data-w-id="c0d256e8-b9c6-f78f-7af1-24267e0a741c" class="flex hero">
        <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 300;  repeat: true" class="left-div">
          <h1 class="heading maincopy-savings">Earn more with a Carbon Savings plan</h1>
          <p class="paragraph hero">We offer the best interest rates on your savings. Simply choose a preferrable plan and we&#x27;ll do the hard work of growing your funds.<br></p>
        </div>
        <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 300;  repeat: true" class="right-div">
          <div class="div-block savings-hero-img1"></div>
        </div>
      </div>
    </div>
  </div>
  <div data-w-id="6dffb4e5-09e0-130f-17bb-885f6f891c00" class="hero-section investment-plans wf-section">
    <h2 data-w-id="a2bcb880-17bf-71c2-8715-72ce47f8325b" class="heading-3 save-your-way">Save as you please</h2>
    <p class="paragraph-5">Whatever your saving habits or goals are, we have a savings plan that caters to you.</p>
    <div data-w-id="6dffb4e5-09e0-130f-17bb-885f6f891c01" class="cards-type">
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 300;  repeat: true" data-w-id="6dffb4e5-09e0-130f-17bb-885f6f891c02" class="cashvault-card">
        <div class="icon-container cv"></div>
        <p class="pcards-title">Cash Vault</p>
        <p class="pcards-copy">A fixed deposit account where you can lock away your funds for a period and earn 11% on any investment starting from ₦50,000.</p>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 400;  repeat: true" class="goals-card goals-2nd">
        <div class="icon-container goals"></div>
        <p class="pcards-title">Goals</p>
        <p class="pcards-copy">Set daily, weekly, or monthly investment targets, starting from ₦100. Earn as much as 9.5% when the goal is complete.</p>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 500;  repeat: true" class="flaxsave last-card">
        <div class="icon-container flexsave1 plan3"></div>
        <p class="pcards-title">FlexSave</p>
        <p class="pcards-copy">A one-time investment plan especially for those with the occasional spare cash. You can keep adding to the account as you deem fit. The FlexSave plan earns up to 9% on your investments.</p>
      </div>
    </div>
  </div>
  <div class="put-money-aside wf-section">
    <div class="container invesment-features">
      <div data-w-id="3f24ca4e-8f23-9503-1bae-1053ff04b7cf" class="flex features1-investment">
        <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 300;  repeat: true" class="left-div feature1">
          <h2 class="features-heading">Put money aside till you need it</h2>
          <p class="paragraph feature1-cards">Buying a new car? Saving for school? Whatever your aspirations are, Carbon lets you save towards them with no interruptions.</p>
        </div>
        <div class="right-screen-lnvestment1">
          <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 400;  repeat: true" class="left-screen feature1-invest-img1"></div><img uk-scrollspy=" cls: uk-animation-slide-right; delay: 600;  repeat: true" src="../../../assets/images/Group-96172x-min.png" loading="lazy" width="261" data-w-id="b3c6ed26-0e44-b895-00d9-efa922dcd2ea" alt="" class="car"><img uk-scrollspy=" cls: uk-animation-slide-left; delay: 400;  repeat: true" src="../../../assets/images/Group-96822x-min.png" loading="lazy" width="277" data-w-id="819729c0-66d0-6e20-c180-b67f59f0d046" alt="" class="honeymoon">
        </div>
      </div>
    </div>
  </div>
  <div class="hero-section third-features inivestment-feature-2 wf-section">
    <div class="container">
      <div class="flex features2-investment">
        <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 500;  repeat: true" class="left-div feature1">
          <h2 class="features-heading">Best interest rate in the market</h2>
          <p class="paragraph feature1">We offer interest rates that beat the ones offered by traditional banks. You save, we grow it.</p>
        </div>
        <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 500;  repeat: true" class="left-screen-loans feature2-investment">
          <div class="left-screen feature2-invest-img2"></div><img src="../../../assets/images/cash-v-rate2x-min.png" loading="lazy" style="opacity:0" width="270" data-w-id="550f4850-68a7-d6d0-0efd-061ef33bd4a4" alt="" class="cashvault">
        </div>
      </div>
    </div>
  </div>
  <div class="investment-features-3 wf-section">
    <div class="container">
      <div class="flex features3-invest">
        <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 400;  repeat: true" class="left-div feature1">
          <h2 class="features-heading">Never forget to save with the automated savings</h2>
          <p class="paragraph feature1">Create automated inflows into your investment plan at your own chosen time of the month.</p>
        </div>
        <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 300;  repeat: true" class="never-forget-saving">
          <div class="left-screen feature4-invest-img"></div>
          <img src="../../../assets/images/S.Frequency2x-min.png" loading="lazy" width="467" style="opacity:0" data-w-id="d45b3b0e-912b-e1e0-4e8f-c95bfa86365d" alt="" class="image-18">
        </div>
      </div>
    </div>
  </div>
  <div class="hero-section third-features inivestment-feature-4 wf-section">
    <div class="container">
      <div class="flex features2-cards">
        <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 300;  repeat: true" class="left-div feature1">
          <h2 class="features-heading">You&#x27;re safe, always</h2>
          <p class="paragraph feature1">Opening a bank account and saving with Carbon ushers you into a relationship with one of the most secure digital banks insured by NDIC and certified by CBN.</p>
        </div>
        <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 300;  repeat: true" class="left-screen-loans safe-and-reliable">
          <div class="left-screen safe-save"></div><img src="images/insurance2x.png" loading="lazy" width="136.5" style="opacity:0" data-w-id="783ad487-b14c-2ecd-359d-1ebe7a6ed699" alt="" class="secure-sign">
        </div>
      </div>
    </div>
  </div>
  <div data-w-id="2fabdbb9-d857-c59e-09f5-deaf254f1fac" class="hero-section one-testimony wf-section">
    <div data-w-id="89b2fe6f-3e16-f7ef-1b38-460e5e36fbe0" class="story-container">
      <div class="img-container"></div>
      <div class="customer-story">
        <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 300;  repeat: true" class="story-copy-container">
          <div class="actual-story">Carbon’s super efficient, very easy to use, very user friendly. The interface is very simple ready to go. I really enjoy using it. I use Carbon to save for my emergency funds. All my emergency money goes there.</div>
          <div class="story-author">- Salome D</div>
          <a href="customers.html" class="link-block w-inline-block">
            <div>
              <div class="read-more-white">Read more user stories</div>
            </div>
            <div class="div-block-13"><img src="../../../assets/images/chevron-forward-circle-outline-white.svg" loading="lazy" height="14" width="14" alt="" class="inner-link-icon"></div>
          </a>
        </div>
      </div>
      <div class="c-story"></div>
    </div>
  </div>
  <h2 data-w-id="3cfb6898-54ca-e09e-b172-f1787227c586" class="heading-3 loan-process">Get started on Carbon today!</h2>
  <div class="content-section get-started wf-section">
    <div class="column-1 started-content">
      <div data-w-id="ea77d76c-83d2-79fa-eb22-f569dc9d4e3c" class="photo _1">
        <div class="all-phase-container">
          <div class="hiring-process-wrapper-1">
            <div class="accordion-wrapper schedule">
              <div class="number-container">
                <div class="process-number">01</div>
              </div>
              <div class="accordion-item js-accordion">
                <h2 class="accodion-trigger call">Download the app</h2>
                <div class="download-proces">
                  <p class="get-started-discription discription-1 js-accordion-item">Get the Carbon App on Google Play Store for Android or App Store for iOS.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-w-id="ea77d76c-83d2-79fa-eb22-f569dc9d4e49" class="photo _2">
        <div class="all-phase-container">
          <div class="hiring-process-wrapper-2">
            <div class="accordion-wrapper getting-to-know">
              <div class="number-container">
                <div class="process-number">01</div>
              </div>
              <div class="accordion-item js-accordion">
                <h2 class="accodion-trigger get-to-know">Schedule a call</h2>
              </div>
            </div>
            <div class="accordion-wrapper schedule">
              <div class="number-container second">
                <div class="process-number process2">02</div>
              </div>
              <div class="accordion-item js-accordion">
                <h2 class="accodion-trigger call">Register within minutes</h2>
                <div class="download-proces">
                  <p class="get-started-discription discription-1 js-accordion-item">Tell us a few details about you to help us create your Carbon account quickly.</p>
                </div>
              </div>
            </div>
            <div class="accordion-wrapper lets-see hide-2">
              <div class="number-container third">
                <div class="process-number process3">03</div>
              </div>
              <div class="accordion-item js-accordion">
                <h2 class="accodion-trigger lets-see">Lets see what you can do</h2>
              </div>
            </div>
            <div class="accordion-wrapper meet-team hide-3">
              <div class="number-container _4th">
                <div class="process-number process4">04</div>
              </div>
              <div class="accordion-item js-accordion">
                <h2 class="accodion-trigger people-team">Meet the people team</h2>
              </div>
            </div>
            <div class="accordion-wrapper meet-founders hide-5">
              <div class="number-container _4th">
                <div class="process-number process5">05</div>
              </div>
              <div class="accordion-item js-accordion">
                <h2 class="accodion-trigger founders">Meet the founders</h2>
              </div>
            </div>
            <div class="accordion-wrapper decision last hide-6">
              <div class="number-container _4th">
                <div class="process-number process6">06</div>
              </div>
              <div class="accordion-item js-accordion">
                <h2 class="accodion-trigger decision">Decision</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-w-id="ea77d76c-83d2-79fa-eb22-f569dc9d4e79" class="photo _3">
        <div class="hiring-process-wrapper-3">
          <div class="accordion-wrapper getting-to-know">
            <div class="number-container">
              <div class="process-number">01</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger get-to-know">Schedule a call</h2>
            </div>
          </div>
          <div class="accordion-wrapper lets-see">
            <div class="number-container second">
              <div class="process-number process2">02</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger lets-see">Getting to know you</h2>
            </div>
          </div>
          <div class="accordion-wrapper schedule">
            <div class="number-container third">
              <div class="process-number process3">03</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger call">Start banking</h2>
              <div class="download-proces">
                <p class="get-started-discription discription-1 js-accordion-item">You’re ready to go. Carry out all your banking transactions  within the app, from investments to loan applications and bill payments.</p>
              </div>
            </div>
          </div>
          <div class="accordion-wrapper meet-team hide-3">
            <div class="number-container _4th">
              <div class="process-number process4">04</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger people-team">Meet the people team</h2>
            </div>
          </div>
          <div class="accordion-wrapper meet-founders hide-5">
            <div class="number-container _4th">
              <div class="process-number process5">05</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger founders">Meet the founders</h2>
            </div>
          </div>
          <div class="accordion-wrapper decision last hide-6">
            <div class="number-container _4th">
              <div class="process-number process6">06</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger decision">Decision</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column-2 photo">
      <div class="content-holder">
        <div class="the-content _1 download"></div>
        <div class="the-content _2 register"></div>
        <div class="the-content _3 home"></div>
      </div>
    </div>
  </div>
  <div class="hero-section get-started wf-section">
    <div class="get-app-content">
      <div data-w-id="3cfb6898-54ca-e09e-b172-f1787227c589" class="get-the-app">
        <div class="get-started-process-wrapper left-item">
          <div class="accordion-wrapper">
            <div class="number-container">
              <div class="process-number">01</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger js-accordion-header">Download the app</h2>
              <div class="download-proces">
                <p class="get-started-discription discription-1 js-accordion-item">Get the Carbon App on Google Play Store for Android or App Store for iOS.</p>
              </div>
            </div>
          </div>
          <div class="accordion-wrapper">
            <div class="number-container second">
              <div class="process-number process2">02</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger">Register within minutes</h2>
              <div class="download-proces">
                <p class="get-started-discription discription-1 js-accordion-item">Tell us a few details about you to help us create your Carbon account quickly.</p>
              </div>
            </div>
          </div>
          <div class="accordion-wrapper start-transacting">
            <div class="number-container third">
              <div class="process-number process3">03</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger">Start banking</h2>
              <div class="download-proces">
                <p class="get-started-discription discription-1 js-accordion-item">You’re ready to go. Carry out all your banking transactions  within the app, from investments to loan applications and bill payments.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="get-started-gif">
          <div class="appscreen feature1 get-started-img"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="faqs-section investment wf-section">
    <div class="container common-questions">
      <div class="faq-main-wrapper">
        <div class="faq-header-wrapper invest">
          <h1 class="faq-header black">Commonly asked questions</h1>
          <div class="faq-container-wrapper">
            <div style="background-color:rgba(241,238,251,0.54)" class="faq-accordian">
              <div data-w-id="d57c9a8e-57ee-ae0c-09d9-5e2e6a5a0b9d" class="faq-accordian-trigger">
                <div class="accordian-header">
                  <div class="faq-accordian-intro">What is a withholding tax?</div>
                  <div class="list-icon w-icon-dropdown-toggle"></div>
                </div>
              </div>
              <div style="width:100%;height:0PX" class="accordian-content">
                <p class="faq-paragraph">This is an income tax to be paid to the government by Carbon. There is a 10% Withholding tax on all interest accrued on every of your savings on Carbon</p>
              </div>
            </div>
          </div>
          <div class="faq-container-wrapper">
            <div style="background-color:rgba(241,238,251,0.54)" class="faq-accordian">
              <div data-w-id="d57c9a8e-57ee-ae0c-09d9-5e2e6a5a0ba7" class="faq-accordian-trigger">
                <div class="accordian-header">
                  <div class="faq-accordian-intro">Can I save when I want to?</div>
                  <div  class="list-icon w-icon-dropdown-toggle"></div>
                </div>
              </div>
              <div style="width:100%;height:0PX" class="accordian-content">
                <p class="faq-paragraph">Yes, with our Flexsave investment option, you can invest as little as ₦100 to ₦100,000,000, and available investment tenors range from 28days to 366days, annualized interest rate is 8*% for unlocked and 9%* for locked savings plan</p>
              </div>
            </div>
          </div>
          <div class="faq-container-wrapper">
            <div style="background-color:rgba(241,238,251,0.54)" class="faq-accordian">
              <div data-w-id="d57c9a8e-57ee-ae0c-09d9-5e2e6a5a0bb4" class="faq-accordian-trigger">
                <div class="accordian-header">
                  <div class="faq-accordian-intro">Are long term investment possible?</div>
                  <div class="list-icon w-icon-dropdown-toggle"></div>
                </div>
              </div>
              <div style="width:100%;height:0PX" class="accordian-content">
                <p class="faq-paragraph">Yes, with Cash vault savings Qualifying savings amounts ranging from ₦50,000 to ₦100,000,000, interest rate ranging from 9.5% -11% annualized and available savings tenors are 3, 6, 9 or 12 months.<br></p>
              </div>
            </div>
          </div>
          <div class="faq-container-wrapper"></div>
        </div>
      </div>
    </div>
  </div>