<div class="hero-section home-sec wf-section">
    <div class="container hero-top-home">
      <div data-w-id="c0d256e8-b9c6-f78f-7af1-24267e0a741c" class="flex hero-home-page-wrapper">
        <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 300;  repeat: true" class="left-div home-hero">
          <div class="investment-challenge-container-1">
            <div class="new-container">
              <h5 class="new">New</h5>
            </div>
            <a [routerLink]="['/physical-card-campaign']" routerLinkActive="router-link-active"  target="_blank" class="challenge-wrapper w-inline-block">
              <div class="challenge-content-link">
                <h5 class="challenge-link">Join the waitlist for debit cards</h5>
                <div class="challenge-link-icon-container"></div>
              </div>
            </a>
          </div>
          <h1 class="heading maincopy">Digital banking for all lifestyles</h1>
          <p class="paragraph-hero1">Unlock the power of money with a free Carbon bank account. Pay bills, transfer money, get instant loans and enjoy high-interest savings, all in one place.</p>
          <div class="app-link-container">
            <a href="#" class="store-link one-store w-inline-block">
              <div class="store_link"></div>
            </a>
            <a href="#" class="store-link w-inline-block">
              <div class="store_link apple"></div>
            </a>
          </div>
          <div class="inner-flex">
            <div class="approved-wrapper">
              <div class="icon-container-2"><img src="../../../assets/images/NDIC.svg" loading="lazy" height="24" alt="" class="image-21 ndic-svg"></div>
              <div class="icon-container-2">
                <div class="label ndic">NDIC Insured</div>
              </div>
            </div>
            <div class="icon-container-2">
              <div class="icon-container-2"><img src="../../../assets/images/NDIC-AND-CBN-02.svg" loading="lazy" height="36" alt="" class="image-21 cbn-svg"></div>
              <div class="icon-container-2">
                <div class="label cb">Licensed by the Central Bank</div>
              </div>
            </div>
          </div>
        </div>
        <div class="right-div">
          <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 500;  repeat: true" class="div-block heroimage-photo"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-section features-1-home wf-section">
    <div class="container digital-wallet">
      <div data-w-id="19c19b10-c640-2104-aba4-fb9811178b20" class="flex option-alt">
        <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 500;  repeat: true" class="right-div-features">
          <div class="appscreen wallet-photo"></div>
        </div>
        <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 300;  repeat: true" class="left-div feature1">
          <div class="name-tag-container digital">
            <div class="tag-name">Carbon account</div>
          </div>
          <h2 class="features-heading">Bank with peace of mind</h2>
          <p class="paragraph feature1">Your Carbon account allows you enjoy cheaper transactions, zero account fees, and an annual interest of 2% per annum.</p>
          <a [routerLink]="['/carbon-account']" routerLinkActive="router-link-active"  class="details-link w-inline-block">
            <div>
              <div class="text-block-2">Learn more</div>
            </div>
            <div><img src="../../../assets/images/chevron-forward-circle-outline.svg" loading="lazy" height="14" width="14" alt="" class="image-3"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-section instant-loans wf-section">
    <div class="container">
      <div data-w-id="3f24ca4e-8f23-9503-1bae-1053ff04b7cf" class="flex features2">
        <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 300;  repeat: true" class="left-div feature1">
          <div class="name-tag-container loans">
            <div class="tag-name loans">Instant loans</div>
          </div>
          <h2 class="features-heading">We make access to credit simple and easy. No guarantors, collaterals, or long forms.</h2>
          <p class="paragraph feature1">Apply 24/7 and receive funds in your Carbon account instantly. Unlock higher loan amounts and lower interest rates by repaying loans on time.</p>
          <a [routerLink]="['/loans']" routerLinkActive="router-link-active"  class="details-link loans-links w-inline-block">
            <div>
              <div class="text-block-2">Learn more</div>
            </div>
            <div><img src="../../../assets/images/chevron-forward-circle-outline.svg" loading="lazy" height="14" width="14" alt="" class="image-3"></div>
          </a>
        </div>
        <div class="right-screen">
          <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 400;  repeat: true" class="left-screen feature2-home"></div><img uk-scrollspy=" cls: uk-animation-slide-right; delay: 600;  repeat: true" src="../../../assets/images/loan-amount2x-min.png" loading="lazy" width="270" data-w-id="c5a150ee-1366-ddab-73b0-a8c94cccf52a" alt="" class="abosolute-image">
        </div>
      </div>
    </div>
  </div>
  <div class="hero-section smart-invest wf-section">
    <div class="container">
      <div data-w-id="4f74d593-f235-559b-9e88-2fe86afcd4c9" class="flex option-alt">
        <div class="right-div-features">
          <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 300;  repeat: true" class="appscreen feature3-home"></div><img uk-scrollspy=" cls: uk-animation-slide-right; delay: 500;  repeat: true" src="../../../assets/images/Travel2x-min.png" loading="lazy" width="261" data-w-id="ee71f5bb-f4d2-9f39-d1f3-d14cfc801fd8" alt="" class="absolut-image2">
        </div>
        <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 300;  repeat: true" class="left-div feature1">
          <div class="name-tag-container large-tag">
            <div class="tag-name large-tag-copy">Smart investments</div>
          </div>
          <h2 class="features-heading">We offer market-leading returns on savings</h2>
          <p class="paragraph feature1">Your money is always working harder for you.<br>Earn up to 11% interest p.a. when you invest with Carbon.</p>
          <a [routerLink]="['/savings']" routerLinkActive="router-link-active"  class="details-link w-inline-block">
            <div>
              <div class="text-block-2">Learn more</div>
            </div>
            <div><img src="images/chevron-forward-circle-outline.svg" loading="lazy" height="14" width="14" alt="" class="image-3"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-section features fast-payment wf-section">
    <div class="container">
      <div data-w-id="9cb93a25-e22b-88c9-16ec-99521aa3fe72" class="flex features2">
        <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 300;  repeat: true" class="left-div feature1">
          <div class="name-tag-container large-tag-copy">
            <div class="tag-name fast-pay">Fast payments</div>
          </div>
          <h2 class="features-heading">Enjoy seamless payments, at little or no cost</h2>
          <p class="paragraph feature1">You can send money to anyone, pay all your bills, and recharge airtime, with just a few taps on your smartphone - and always at the lowest possible cost.</p>
          <a [routerLink]="['/payments']" routerLinkActive="router-link-active"  class="details-link w-inline-block">
            <div>
              <div class="text-block-2">Learn more</div>
            </div>
            <div><img src="images/chevron-forward-circle-outline.svg" loading="lazy" height="14" width="14" alt="" class="image-3"></div>
          </a>
        </div>
        <div class="right-screen">
          <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 400;  repeat: true" class="left-screen feature4"></div><img uk-scrollspy=" cls: uk-animation-slide-right; delay: 600;  repeat: true" src="../../../assets/images/Group-96222x-min.png" loading="lazy" width="425" data-w-id="b477a883-c5fa-79cd-d2a2-40386e05f886" alt="" class="image-11"><img src="images/Group-96212x-min.png" loading="lazy" width="180" style="opacity:0" data-w-id="d9234dc5-2614-67ee-19c1-3b00b7d6d899" alt="" class="image-12">
        </div>
      </div>
    </div>
  </div>
  <div class="hero-section credit-report wf-section">
    <div class="container">
      <div data-w-id="61615230-02e5-d906-9067-e89767db8410" class="flex option-alt">
        <div class="right-div-features">
          <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 300;  repeat: true" class="appscreen feature1 credit-history"></div>
        </div>
        <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 600;  repeat: true" class="left-div feature1">
          <div class="div-block-3 large-tag name-tag-container">
            <div class="tag-name free-report">Free credit reports</div>
          </div>
          <h2 class="features-heading">Keep track of your credit history across financial institutions</h2>
          <p class="paragraph feature1">Be notified of any issues you may have. We’ll help you stay on top of things.. and it’s completely free.</p>
          <a [routerLink]="['/credit-report']" routerLinkActive="router-link-active"  class="details-link w-inline-block">
            <div>
              <div class="text-block-2">Learn more</div>
            </div>
            <div><img src="images/chevron-forward-circle-outline.svg" loading="lazy" height="14" width="14" alt="" class="image-3"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-section features physical-cards wf-section">
    <div class="container">
      <div data-w-id="2205f815-3e74-f7b4-466f-fe84a1bcc394" class="flex cards-flex">
        <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 300;  repeat: true" class="left-div feature1">
          <div class="name-tag-container medium-copy-tag">
            <div class="tag-name carbon-cards">Carbon cards</div>
          </div>
          <h2 class="features-heading">Virtual or Physical? Choose one. Or both.</h2>
          <p class="paragraph feature1">Our physical debit cards give you access to cash withdrawals anywhere. And with our secure virtual cards, you can pay for products on your favourite online stores, in dollars.</p>
          <a [routerLink]="['/cards']" routerLinkActive="router-link-active"  class="details-link w-inline-block">
            <div>
              <div class="text-block-2">Learn more</div>
            </div>
            <div><img src="../../../assets/images/chevron-forward-circle-outline.svg" loading="lazy" height="14" width="14" alt="" class="image-3"></div>
          </a>
        </div>
        <div class="right-screen">
          <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 600;  repeat: true" class="left-screen cards"></div>
        </div>
      </div>
    </div>
  </div>
  <h2 data-w-id="a2bcb880-17bf-71c2-8715-72ce47f8325b" class="heading-3 home">Get started on Carbon today!</h2>
  <div class="content-section get-started wf-section">
    <div class="column-1 started-content">
      <div data-w-id="395c2a90-361f-4616-94c3-52c8773777ec" class="photo _1">
        <div class="all-phase-container first">
          <div class="hiring-process-wrapper-1">
            <div class="accordion-wrapper schedule">
              <div class="number-container">
                <div class="process-number">01</div>
              </div>
              <div class="accordion-item js-accordion">
                <h2 class="accodion-trigger call">Download the app</h2>
                <div class="download-proces">
                  <p class="get-started-discription discription-1 js-accordion-item">Get the Carbon App on Google Play Store for Android or App Store for iOS.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-w-id="395c2a90-361f-4616-94c3-52c8773777f9" class="photo _2">
        <div class="all-phase-container">
          <div class="hiring-process-wrapper-2">
            <div class="accordion-wrapper getting-to-know">
              <div class="number-container">
                <div class="process-number">01</div>
              </div>
              <div class="accordion-item js-accordion">
                <h2 class="accodion-trigger get-to-know">Schedule a call</h2>
              </div>
            </div>
            <div class="accordion-wrapper schedule">
              <div class="number-container second">
                <div class="process-number process2">02</div>
              </div>
              <div class="accordion-item js-accordion">
                <h2 class="accodion-trigger call">Register within minutes</h2>
                <div class="download-proces">
                  <p class="get-started-discription discription-1 js-accordion-item">Tell us a few details about you to help us create your Carbon account quickly.</p>
                </div>
              </div>
            </div>
            <div class="accordion-wrapper lets-see hide-2">
              <div class="number-container third">
                <div class="process-number process3">03</div>
              </div>
              <div class="accordion-item js-accordion">
                <h2 class="accodion-trigger lets-see">Lets see what you can do</h2>
              </div>
            </div>
            <div class="accordion-wrapper meet-team hide-3">
              <div class="number-container _4th">
                <div class="process-number process4">04</div>
              </div>
              <div class="accordion-item js-accordion">
                <h2 class="accodion-trigger people-team">Meet the people team</h2>
              </div>
            </div>
            <div class="accordion-wrapper meet-founders hide-5">
              <div class="number-container _4th">
                <div class="process-number process5">05</div>
              </div>
              <div class="accordion-item js-accordion">
                <h2 class="accodion-trigger founders">Meet the founders</h2>
              </div>
            </div>
            <div class="accordion-wrapper decision last hide-6">
              <div class="number-container _4th">
                <div class="process-number process6">06</div>
              </div>
              <div class="accordion-item js-accordion">
                <h2 class="accodion-trigger decision">Decision</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-w-id="395c2a90-361f-4616-94c3-52c877377829" class="photo _3">
        <div class="hiring-process-wrapper-3">
          <div class="accordion-wrapper getting-to-know">
            <div class="number-container">
              <div class="process-number">01</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger get-to-know">Schedule a call</h2>
            </div>
          </div>
          <div class="accordion-wrapper lets-see">
            <div class="number-container second">
              <div class="process-number process2">02</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger lets-see">Getting to know you</h2>
            </div>
          </div>
          <div class="accordion-wrapper schedule">
            <div class="number-container third">
              <div class="process-number process3">03</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger call">Start banking</h2>
              <div class="download-proces">
                <p class="get-started-discription discription-1 js-accordion-item">You’re ready to go. Carry out all your banking transactions  within the app, from investments to loan applications and bill payments.</p>
              </div>
            </div>
          </div>
          <div class="accordion-wrapper meet-team hide-3">
            <div class="number-container _4th">
              <div class="process-number process4">04</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger people-team">Meet the people team</h2>
            </div>
          </div>
          <div class="accordion-wrapper meet-founders hide-5">
            <div class="number-container _4th">
              <div class="process-number process5">05</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger founders">Meet the founders</h2>
            </div>
          </div>
          <div class="accordion-wrapper decision last hide-6">
            <div class="number-container _4th">
              <div class="process-number process6">06</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger decision">Decision</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column-2 photo">
      <div class="content-holder">
        <div class="the-content _1 download"></div>
        <div class="the-content _2 register"></div>
        <div class="the-content _3 home"></div>
      </div>
    </div>
  </div>
  <div data-w-id="6dffb4e5-09e0-130f-17bb-885f6f891c00" class="hero-section get-started wf-section">
    <div data-w-id="6dffb4e5-09e0-130f-17bb-885f6f891c01" class="container start">
      <div data-w-id="6dffb4e5-09e0-130f-17bb-885f6f891c02" class="get-started-wrapper">
        <div class="get-started-process-wrapper left-item">
          <div data-w-id="6dffb4e5-09e0-130f-17bb-885f6f891c03" class="accordion-wrapper">
            <div class="number-container">
              <div class="process-number">01</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger js-accordion-header">Download the app</h2>
              <div class="download-proces">
                <p class="get-started-discription discription-1 js-accordion-item">Get the Carbon App on Google Play Store for Android or App Store for iOS.</p>
              </div>
            </div>
          </div>
          <div class="accordion-wrapper">
            <div class="number-container second">
              <div class="process-number process2">02</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger">Register within minutes</h2>
              <div class="download-proces">
                <p class="get-started-discription discription-1 js-accordion-item">Tell us a few details about you to help us create your Carbon account quickly.</p>
              </div>
            </div>
          </div>
          <div class="accordion-wrapper">
            <div class="number-container third">
              <div class="process-number process3">03</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger">Start banking</h2>
              <div class="download-proces">
                <p class="get-started-discription discription-1 js-accordion-item">You’re ready to go. Carry out all your banking transactions  within the app, from investments to loan applications and bill payments.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="get-started-gif">
          <div class="appscreen feature1 get-started-img"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-section testimony wf-section">
    <div class="rating-container">
      <h2 class="heading-3 rating">Trusted by over 2 million customers</h2>
      <div class="stars-value-container">
        <div class="div-block-5"><img src="../../../assets/images/Rating2x.png" loading="lazy" width="31" alt="" class="image-4"></div>
        <div class="div-block-6">
          <div class="text-block-5">+4.4</div>
        </div>
      </div>
      <h4 class="heading-4">Score based on over 78,000 reviews on Google Play Store and App Store</h4>
    </div>
    <div data-animation="slide" data-hide-arrows="1" data-duration="500" data-w-id="fd8337df-d38f-6fa1-d64e-a524d4347766" class="slider w-slider">
      <div class="mask w-slider-mask">
        <div class="slide w-slide">
          <div class="testimony-cards card-1">
            <div class="testimony-container">
              <p class="testimony-content initial">I had an awesome experience with carbon, very reliable n trustworthy, infact d instalmental repayment is d tip of d iceberg. I hereby recommend this LOAN APP among apps...CARBON to all prospective borrower, u will never be disappointed.</p>
              <div class="user-container">
                <div class="div-block-8"><img src="../../../assets/images/CC5.png" loading="lazy" width="47" alt="" class="avatar-img-container"></div>
                <div class="text-block-6"><strong>Gbenga John Osukoya</strong></div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide w-slide">
          <div class="testimony-cards card-1">
            <div class="testimony-container">
              <p class="testimony-content medium">The best online loan service hands down. Just ensure to pay your loans on time and you&#x27;ll get access to better loans and so many other rewards. Very ideal for fast track business owners who need quick access to funds on the go.</p>
              <div class="user-container">
                <div class="avatar-cover"><img src="../../../assets/images/cc3.png" loading="lazy" width="47" alt="" class="avatar-img-container"></div>
                <div class="text-block-6"><strong>Elaine Okafor</strong></div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide w-slide">
          <div class="testimony-cards card-1">
            <div class="testimony-container">
              <p class="testimony-content short-copy">The best payment and fastest loan platform with lower interest rates, very reliable for investment and transact as quick as texting of messages. I recommend you all to join carbon.</p>
              <div class="user-container">
                <div class="avatar-container"><img src="../../../assets/images/CC2.png" loading="lazy" width="47" alt="" class="avatar-img-container"></div>
                <div class="text-block-6"><strong>Jonah Atsale</strong></div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide w-slide">
          <div class="lastcard-wrapper">
            <div class="testimony-cards last-mobile">
              <div class="testimony-container">
                <p class="testimony-content">This is best loan App I have come across. 1. Easy and convenient to register. 2. Loan amount is the highest I have seen so far. 3. The requirements are normal and not out of place. No request for statement of account or bills. 4. The customer care service is top notch. 5. Prompt is response to compl...</p>
                <div class="user-container">
                  <div class="div-block-10"><img src="../../../assets/images/CC1.png" loading="lazy" width="46" alt="" class="avatar-img-container"></div>
                  <div class="text-block-6"><strong>Adenegan Opeyemi</strong></div>
                </div>
              </div>
            </div>
            <div class="testimony-cards last-cards">
              <div class="testimony-container">
                <p class="testimony-content medium">If there is anything more than five star I will give to carbon, they are wonderful and unique in every aspect I highly recommend this app for everyone I love you and guys and ur services, this app is just like a mobile Bank its self, kudos to you guys !!!!</p>
                <div class="user-container">
                  <div class="div-block-10"><img src="../../../assets/images/CC4.png" loading="lazy" width="47" alt="" class="avatar-img-container"></div>
                  <div class="text-block-6"><strong>Progress Harrison</strong></div>
                </div>
              </div>
            </div>
            <div class="testimony-cards final-card">
              <div class="testimony-container">
                <p class="testimony-content large-copy">If you’re tired of traditional banks, then get Carbon. I use Carbon for nearly all my online transactions for services such as electricity, cable TV, and bank transfers at no cost. Getting a loan is seamless, plus free credit reports.</p>
                <div class="user-container">
                  <div><img src="../../../assets/images/0a3558bc2709e710ad81c410d29553862x-min.png" loading="lazy" width="54" alt="" class="avatar-img-container"></div>
                  <div class="text-block-6"><strong>Adebola</strong></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="left-arrow w-slider-arrow-left">
        <div class="icon-2 w-icon-slider-left"></div>
      </div>
      <div class="right-arrow w-slider-arrow-right">
        <div class="icon-3 w-icon-slider-right"></div>
      </div>
      <div class="slide-nav w-slider-nav w-round"></div>
    </div>
    <div class="more-stories-container">
      <a [routerLink]="['/customers']" routerLinkActive="router-link-active"  class="link">Read more user stories</a>
      <div class="icon-link"></div>
    </div>
  </div>
