<div class="hero-section card-hero wf-section">
    <div class="container">
      <div data-w-id="c0d256e8-b9c6-f78f-7af1-24267e0a741c" class="flex digital-wallet-hero">
        <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 300;  repeat: true" class="left-div">
          <h1 class="heading maincopy---dw">A personal account that understands you</h1>
          <p class="paragraph hero-main-text---dw">Enjoy all the benefits of a personalized bank account where you can carry out almost all your transactions for free.</p>
        </div>
        <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 500;  repeat: true"  class="right-div">
          <div class="div-block dw-hero"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="pay-zero-transfer wf-section">
    <div class="container">
      <div data-w-id="3f24ca4e-8f23-9503-1bae-1053ff04b7cf" class="flex features1-digital-wallet">
        <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 500;  repeat: true"  class="left-div feature1">
          <h2 class="features-heading">Pay zero transfer fees on your first 30 transfers</h2>
          <p class="paragraph feature1-dw">You won’t spend an extra dime on 30 transfers within the month, whether you’re sending money to another Carbon customer or a Nigerian bank account.</p>
        </div>
        <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 400;  repeat: true" class="your-money-when-yo-need">
          <div class="left-screen feature1-dw"></div><img class="image-22" src="../../../assets/images/Group-101962x.png" width="282" alt="" style="opacity:0" sizes="(max-width: 479px) 88vw, (max-width: 767px) 40vw, 282px" data-w-id="eacdfb6c-33d3-2201-368f-a1784a0652ad" loading="lazy" srcset="../../../assets/images/Group-101962x-p-500.png 500w, images/Group-101962x.png 564w">
        </div>
      </div>
    </div>
  </div>
  <div class="hero-section third-features gain wf-section">
    <div class="container">
      <div class="flex features2-dw2">
        <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 500;  repeat: true"  class="left-div feature1">
          <h2 class="features-heading">Gain continuous interests on your account</h2>
          <p class="paragraph dw-2-copy">We offer a 2% interest on your Carbon Bank Account which is spread monthly. Your profits are disbursed on the last day of each month.</p>
        </div>
        <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 300;  repeat: true"  class="left-screen-loans card-security-unseen">
          <div class="left-screen feature2-dw2"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="receive-funds last-feature wf-section">
    <div class="container instant-notifications">
      <div class="flex features3-cr3">
        <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 500;  repeat: true"  class="left-div dw-3-wrapper">
          <h2 class="features-heading">Receive funds from any bank account with no additional charges</h2>
          <p class="paragraph cr4">Whether you&#x27;re receiving cash gifts from family and friends or getting paid for work done for clients, you can receive money directly in your Carbon account for free.</p>
        </div>
        <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 300;  repeat: true"  class="instant-alert-message">
          <div class="left-screen feature4-dw3"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-section third-features wf-section">
    <div class="container">
      <div class="flex features2-dw2">
        <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 300;  repeat: true"  class="left-div feature1">
          <h2 class="features-heading">Fund your wallet using different payment channels</h2>
          <p class="paragraph dw-2-copy">People can send you money via debit cards, USSD or bank transfers from financial institutions including GTBank, Access Bank, First Bank, and Zenith Bank.</p>
        </div>
        <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 500;  repeat: true"  class="left-screen-loans card-security-unseen">
          <div class="left-screen feature2-dw5"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="notifications last-feature wf-section">
    <div class="container instant-notifications">
      <div class="flex features3-cr3">
        <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 300;  repeat: true"  class="left-div dw-6-wrapper-copy">
          <h2 class="features-heading">Get instant notifications for you and your recipient</h2>
          <p class="paragraph cr4">Every time you initiate a transaction, you get instant notifications when the money is sent and also when the recipient receives the fund.</p>
        </div>
        <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 400;  repeat: true"  class="instant-alert-message">
          <div class="left-screen feature4-dw6"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-section one-testimony wf-section">
    <div data-w-id="9f71d350-be13-80bd-8a8a-d7a28e23fd16" class="story-container">
      <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 300;  repeat: true"  class="img-container leonard-u"></div>
      <div class="customer-story">
        <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 300;  repeat: true"  class="story-copy-container">
          <div class="actual-story">I found out about Carbon in 2018, on Twitter or somewhere on social media. It was this app where you could sign up and get instant loans. I tried it and it worked. Subsequently, when I needed a quick loan I knew I could always go to Carbon</div>
          <div class="story-author">- Leonard U</div>
          <a [routerLink]="['/customers']" routerLinkActive="router-link-active"  class="link-block w-inline-block">
            <div>
              <div class="read-more-white">Read more user stories</div>
            </div>
            <div class="div-block-13"><img src="../../../assets/images/chevron-forward-circle-outline-white.svg" loading="lazy" height="14" width="14" alt="" class="inner-link-icon"></div>
          </a>
        </div>
      </div>
      <div class="c-story"></div>
    </div>
  </div>
  <h2 data-w-id="3cfb6898-54ca-e09e-b172-f1787227c586" class="heading-3">Get started on Carbon today!</h2>
  <div class="content-section get-started wf-section">
    <div class="column-1 started-content">
      <div data-w-id="facecab2-5379-cd04-30b0-645a14f97680" class="photo _1">
        <div class="all-phase-container">
          <div class="hiring-process-wrapper-1">
            <div class="accordion-wrapper schedule">
              <div class="number-container">
                <div class="process-number">01</div>
              </div>
              <div class="accordion-item js-accordion">
                <h2 class="accodion-trigger call">Download the app</h2>
                <div class="download-proces">
                  <p class="get-started-discription discription-1 js-accordion-item">Get the Carbon App on Google Play Store for Android or App Store for iOS.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-w-id="facecab2-5379-cd04-30b0-645a14f9768d" class="photo _2">
        <div class="all-phase-container">
          <div class="hiring-process-wrapper-2">
            <div class="accordion-wrapper getting-to-know">
              <div class="number-container">
                <div class="process-number">01</div>
              </div>
              <div class="accordion-item js-accordion">
                <h2 class="accodion-trigger get-to-know">Schedule a call</h2>
              </div>
            </div>
            <div class="accordion-wrapper schedule">
              <div class="number-container second">
                <div class="process-number process2">02</div>
              </div>
              <div class="accordion-item js-accordion">
                <h2 class="accodion-trigger call">Register within minutes</h2>
                <div class="download-proces">
                  <p class="get-started-discription discription-1 js-accordion-item">Tell us a few details about you to help us create your Carbon account quickly.</p>
                </div>
              </div>
            </div>
            <div class="accordion-wrapper lets-see hide-2">
              <div class="number-container third">
                <div class="process-number process3">03</div>
              </div>
              <div class="accordion-item js-accordion">
                <h2 class="accodion-trigger lets-see">Lets see what you can do</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-w-id="facecab2-5379-cd04-30b0-645a14f976a8" class="photo _3">
        <div class="hiring-process-wrapper-3">
          <div class="accordion-wrapper getting-to-know">
            <div class="number-container">
              <div class="process-number">01</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger get-to-know">Schedule a call</h2>
            </div>
          </div>
          <div class="accordion-wrapper lets-see">
            <div class="number-container second">
              <div class="process-number process2">02</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger lets-see">Getting to know you</h2>
            </div>
          </div>
          <div class="accordion-wrapper schedule">
            <div class="number-container third">
              <div class="process-number process3">03</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger call">Start banking</h2>
              <div class="download-proces">
                <p class="get-started-discription discription-1 js-accordion-item">You’re ready to go. Carry out all your banking transactions  within the app, from investments to loan applications and bill payments.</p>
              </div>
            </div>
          </div>
          <div class="accordion-wrapper meet-team hide-3">
            <div class="number-container _4th">
              <div class="process-number process4">04</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger people-team">Meet the people team</h2>
            </div>
          </div>
          <div class="accordion-wrapper meet-founders hide-5">
            <div class="number-container _4th">
              <div class="process-number process5">05</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger founders">Meet the founders</h2>
            </div>
          </div>
          <div class="accordion-wrapper decision last hide-6">
            <div class="number-container _4th">
              <div class="process-number process6">06</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger decision">Decision</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column-2 photo">
      <div class="content-holder">
        <div class="the-content _1 download"></div>
        <div class="the-content _2 register"></div>
        <div class="the-content _3 home"></div>
      </div>
    </div>
  </div>
  <div class="hero-section get-started wf-section">
    <div class="container dowload-process">
      <div data-w-id="3cfb6898-54ca-e09e-b172-f1787227c589" class="loan-process-wrapper">
        <div class="get-started-process-wrapper left-item">
          <div class="accordion-wrapper">
            <div class="number-container">
              <div class="process-number">01</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger js-accordion-header">Download the app</h2>
              <div class="download-proces">
                <p class="get-started-discription discription-1 js-accordion-item">Get the Carbon App on Google Play Store for Android or App Store for iOS.<br></p>
              </div>
            </div>
          </div>
          <div class="accordion-wrapper">
            <div class="number-container second">
              <div class="process-number process2">02</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger">Register within minutes</h2>
              <div class="download-proces">
                <p class="get-started-discription discription-1 js-accordion-item">Tell us a few details about you to help us create your Carbon account quickly.</p>
              </div>
            </div>
          </div>
          <div class="accordion-wrapper start-transacting">
            <div class="number-container third">
              <div class="process-number process3">03</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger">Start banking</h2>
              <div class="download-proces">
                <p class="get-started-discription discription-1 js-accordion-item">You’re ready to go. Carry out all your banking transactions  within the app, from investments to loan applications and bill payments.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="get-started-gif">
          <div class="appscreen feature1 get-started-img"></div>
        </div>
      </div>
    </div>
  </div>