<div class="hero-section payment-hero-1 wf-section">
    <div class="container">
      <div data-w-id="c0d256e8-b9c6-f78f-7af1-24267e0a741c" class="flex hero">
        <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 300;  repeat: true" class="left-div payments">
          <h1 class="heading maincopy">All your payments, in one place</h1>
          <p class="paragraph hero">Select from more than 500 service providers, including airtime, internet data, cable subscriptions, sports &amp; gaming, and much more.</p>
        </div>
        <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 300;  repeat: true" class="right-div">
          <div class="div-block payment-hero"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-section payments-features-transfer-funds wf-section">
    <div class="container">
      <div data-w-id="19c19b10-c640-2104-aba4-fb9811178b20" class="flex reverse">
        <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 600;  repeat: true" class="right-div-features">
          <div class="appscreen feature1"></div>
          <img src="../../../assets/images/transfers-icon2x-min.png" loading="lazy" width="357" data-w-id="9da562ed-244c-f823-4a85-6bdd7fa10891" srcset="../../../assets/images/transfers-icon2x-min-p-500.png 500w, ../../../assets/images/transfers-icon2x-min.png 714w" sizes="(max-width: 479px) 90vw, (max-width: 767px) 40vw, (max-width: 991px) 43vw, 357px" alt="" class="image-13">
        </div>
        <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 300;  repeat: true" class="left-div feature1">
          <div class="name-tag-container transfer-funds">
            <div class="tag-name funds">Transfer funds</div>
          </div>
          <h2 class="features-heading">Send money instantly to friends, and keep track of all funds sent.</h2>
          <p class="paragraph feature1">Transfers to Carbon account are completely free, and you can also transfer to any Nigerian bank account for just ₦10.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-section third-features wf-section">
    <div class="container">
      <div data-w-id="3f24ca4e-8f23-9503-1bae-1053ff04b7cf" class="flex features2">
        <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 300;  repeat: true" class="left-div feature1">
          <div class="name-tag-container small-tag airtime">
            <div class="tag-name airtime">Airtime</div>
          </div>
          <h2 class="features-heading">Recharge airtime directly from the Carbon app</h2>
          <p class="paragraph feature1">Top-up airtime on any mobile network. Save your most-used phone numbers for even quicker transactions.</p>
        </div>
        <div class="right-screen">
          <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 300;  repeat: true" class="left-screen feature2"></div>
          <img uk-scrollspy=" cls: uk-animation-slide-right; delay: 600;  repeat: true" src="../../../assets/images/Airtime-options2x-min.png" loading="lazy" data-w-id="c5a150ee-1366-ddab-73b0-a8c94cccf52a" width="425" srcset="../../../assets/images/Airtime-options2x-min-p-500.png 500w, ../../../assets/images/Airtime-options2x-min.png 850w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 40vw, (max-width: 991px) 43vw, (max-width: 1439px) 41vw, 425px" alt="" class="abosolute-image">
        </div>
      </div>
    </div>
  </div>
  <div class="hero-section last-tab wf-section">
    <div class="container">
      <div data-w-id="4f74d593-f235-559b-9e88-2fe86afcd4c9" class="flex reverse">
        <div class="right-div-features">
          <div class="appscreen feature3"></div><img uk-scrollspy=" cls: uk-animation-slide-left; delay: 500;  repeat: true" src="../../../assets/images/Dstv2x-min.png" loading="lazy" width="213" data-w-id="ee71f5bb-f4d2-9f39-d1f3-d14cfc801fd8" alt="" class="bill-1"><img uk-scrollspy=" cls: uk-animation-slide-left; delay: 400;  repeat: true" src="../../../assets/images/Gotv2x-min.png" loading="lazy" width="213" alt="" class="bill-3"><img uk-scrollspy=" cls: uk-animation-slide-left; delay: 300;  repeat: true" src="../../../assets/images/Group-99842x-min.png" loading="lazy" width="213" alt="" class="bill-2">
        </div>
        <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 300;  repeat: true" class="left-div feature1">
          <div class="name-tag-container">
            <div class="tag-name bills">Bill payments</div>
          </div>
          <h2 class="features-heading">Automate your bill payments</h2>
          <p class="paragraph feature1">Choose from thousands of billers on the Carbon app. Save recurring payments to make it easier next time and enjoy even free transfers to most service providers.</p>
        </div>
      </div>
    </div>
  </div>
  <div data-w-id="2fabdbb9-d857-c59e-09f5-deaf254f1fac" class="hero-section one-testimony wf-section">
    <div data-w-id="89b2fe6f-3e16-f7ef-1b38-460e5e36fbe0" class="story-container">
      <div class="img-container leonard-u"></div>
      <div class="customer-story">
        <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 300;  repeat: true" class="story-copy-container">
          <div class="actual-story">I found out about Carbon in 2018, on Twitter or somewhere on social media. It was this app where you could sign up and get instant loans. I tried it and it worked. Subsequently, when I needed a quick loan I knew I could always go to Carbon</div>
          <div class="story-author">- Leonard U</div>
          <a href="customers.html" class="link-block w-inline-block">
            <div>
              <div class="read-more-white">Read more user stories</div>
            </div>
            <div class="div-block-13"><img src="../../../assets/images/chevron-forward-circle-outline-white.svg" loading="lazy" height="14" width="14" alt="" class="inner-link-icon"></div>
          </a>
        </div>
      </div>
      <div class="c-story"></div>
    </div>
  </div>
  <h2 data-w-id="a2bcb880-17bf-71c2-8715-72ce47f8325b" class="heading-3 today">Get started on Carbon today!</h2>
  <div data-w-id="6dffb4e5-09e0-130f-17bb-885f6f891c00" class="hero-section get-started wf-section">
    <h2 data-w-id="39d6c431-44f3-1b2e-3b22-fa2c1e00c370" class="heading-3">Get started on Carbon today</h2>
    <div data-w-id="6dffb4e5-09e0-130f-17bb-885f6f891c01" class="container">
      <div data-w-id="6dffb4e5-09e0-130f-17bb-885f6f891c02" class="get-started-wrapper">
        <div class="get-started-process-wrapper left-item">
          <div data-w-id="6dffb4e5-09e0-130f-17bb-885f6f891c03" class="accordion-wrapper">
            <div class="number-container">
              <div class="process-number">01</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger js-accordion-header">Download the app</h2>
              <div class="download-proces">
                <p class="get-started-discription discription-1 js-accordion-item">Get the Carbon App on Google Play Store for Android or App Store for iOS.</p>
              </div>
            </div>
          </div>
          <div class="accordion-wrapper">
            <div class="number-container second">
              <div class="process-number process2">02</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger">Register within minutes</h2>
              <div class="download-proces">
                <p class="get-started-discription discription-1 js-accordion-item">Tell us a few details about you to help us create your Carbon account quickly.</p>
              </div>
            </div>
          </div>
          <div class="accordion-wrapper start-transacting">
            <div class="number-container third">
              <div class="process-number process3">03</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger">Start banking</h2>
              <div class="download-proces">
                <p class="get-started-discription discription-1 js-accordion-item">You’re ready to go. Carry out all your banking transactions  within the app, from investments to loan applications and bill payments.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="get-started-gif">
          <div class="appscreen feature1 get-started-img"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-section get-started wf-section">
    <div class="column-1 started-content">
      <div data-w-id="b775843f-fcd3-d45f-a758-1a05d6ad3011" class="photo _1">
        <div class="all-phase-container first">
          <div class="hiring-process-wrapper-1">
            <div class="accordion-wrapper schedule">
              <div class="number-container">
                <div class="process-number">01</div>
              </div>
              <div class="accordion-item js-accordion">
                <h2 class="accodion-trigger call">Download the app</h2>
                <div class="download-proces">
                  <p class="get-started-discription discription-1 js-accordion-item">Get the Carbon App on Google Play Store for Android or App Store for iOS.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-w-id="b775843f-fcd3-d45f-a758-1a05d6ad3041" class="photo _2">
        <div class="all-phase-container first">
          <div class="hiring-process-wrapper-2">
            <div class="accordion-wrapper schedule">
              <div class="number-container second">
                <div class="process-number process2">02</div>
              </div>
              <div class="accordion-item js-accordion">
                <h2 class="accodion-trigger call">Register within minutes</h2>
                <div class="download-proces">
                  <p class="get-started-discription discription-1 js-accordion-item">Tell us a few details about you to help us create your Carbon account quickly.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-w-id="b775843f-fcd3-d45f-a758-1a05d6ad3071" class="photo _3">
        <div class="hiring-process-wrapper-3">
          <div class="accordion-wrapper getting-to-know">
            <div class="number-container">
              <div class="process-number">01</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger get-to-know">Schedule a call</h2>
            </div>
          </div>
          <div class="accordion-wrapper lets-see">
            <div class="number-container second">
              <div class="process-number process2">02</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger lets-see">Getting to know you</h2>
            </div>
          </div>
          <div class="accordion-wrapper schedule">
            <div class="number-container third">
              <div class="process-number process3">03</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger call">Start banking</h2>
              <div class="download-proces">
                <p class="get-started-discription discription-1 js-accordion-item">You’re ready to go. Carry out all your banking transactions  within the app, from investments to loan applications and bill payments.</p>
              </div>
            </div>
          </div>
          <div class="accordion-wrapper meet-team hide-3">
            <div class="number-container _4th">
              <div class="process-number process4">04</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger people-team">Meet the people team</h2>
            </div>
          </div>
          <div class="accordion-wrapper meet-founders hide-5">
            <div class="number-container _4th">
              <div class="process-number process5">05</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger founders">Meet the founders</h2>
            </div>
          </div>
          <div class="accordion-wrapper decision last hide-6">
            <div class="number-container _4th">
              <div class="process-number process6">06</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger decision">Decision</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column-2 photo">
      <div class="content-holder">
        <div class="the-content _1 download"></div>
        <div class="the-content _2 register"></div>
        <div class="the-content _3 home"></div>
      </div>
    </div>
  </div>