<div class="hero-section carbon-media-hero wf-section">
    <div class="container media-hero">
      <div uk-scrollspy=" cls: uk-animation-fade; delay: 300;  repeat: true"  data-w-id="c0d256e8-b9c6-f78f-7af1-24267e0a741c" class="flex contact-us-hero">
        <div class="carbon-media">
          <h1 class="heading media-page--title">Carbon media</h1>
          <p class="paragraph media-copy-content">Press information, media kit and the latest news about Carbon can be gotten here.</p>
        </div>
        <a href="#" class="media-download download-button w-button">Download our media kit</a>
      </div>
    </div>
  </div>
  <div class="media-bg bg-base">
    <div data-w-id="6dffb4e5-09e0-130f-17bb-885f6f891c01" class="media-content-container madia-wrapper">
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 300;  repeat: true"  class="m-content-1">
        <div class="image-media payments-made"></div>
        <div class="pcards-tag-container medium-copy">
          <a href="#"class="media-content-link w-inline-block">
            <p class="main-media-copy cash-vault-tittle"><strong>Nigerian digital bank Carbon hit $240M in payments processed last year, up 89% from 2019</strong></p>
          </a>
        </div>
        <p class="main-media-copy date">FEBRUARY 1, 2021</p>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 400;  repeat: true" data-w-id="6dffb4e5-09e0-130f-17bb-885f6f891c02" class="m-content-1">
        <div class="image-media zero1"></div>
        <div class="media-cards-tag-container">
          <a href="#" class="media-content-link w-inline-block">
            <p class="main-media-copy paxful">Why Carbon’s zero-interest ‘buy now pay later’ loan is exciting and worrying</p>
          </a>
        </div>
        <p class="main-media-copy date-copy">JANUARY 28, 2021</p>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 500;  repeat: true" class="m-content-1 last">
        <div class="image-media zero2"></div>
        <div class="media-cards-tag-container short-tittle">
          <a href="#" class="media-content-link w-inline-block">
            <p class="main-media-copy cash-vault-tittle">Carbon’s 0% interest loan targets young professionals upgrading their gadgets</p>
          </a>
        </div>
        <p class="main-media-copy date">JANUARY 26, 2021</p>
      </div>
    </div>
    <div class="media-content-container madia-wrapper">
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 300;  repeat: true" class="m-content-1">
        <div class="image-media key-matrics"></div>
        <div class="media-cards-tag-container short-tittle">
          <a href="2020-review/index.html" target="_blank" class="media-content-link w-inline-block">
            <p class="main-media-copy cash-vault-tittle">Carbon’s 2020 Year in Review</p>
          </a>
        </div>
        <p class="main-media-copy date">JANUARY 24, 2021</p>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 400;  repeat: true" class="m-content-1">
        <div class="image-media paxful"></div>
        <div class="media-cards-tag-container">
          <a href="#" class="media-content-link w-inline-block">
            <p class="main-media-copy paxful">Paxful Adds Carbon as a Payment Method to the Platform</p>
          </a>
        </div>
        <p class="main-media-copy date-copy">DECEMBER 08, 2020</p>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 500;  repeat: true" class="m-content-1 last">
        <div class="image-media techcabal"></div>
        <div class="pcards-tag-container medium-copy">
          <a href="#" class="media-content-link w-inline-block">
            <p class="main-media-copy cash-vault-tittle">Carbon reveals the appeal of fintech transparency in second profitable year, with $17million in revenue</p>
          </a>
        </div>
        <p class="main-media-copy date">JULY O2, 2020</p>
      </div>
    </div>
    <div class="media-content-container madia-wrapper">
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 300;  repeat: true" class="m-content-1">
        <div class="image-media best-digital-bank"></div>
        <div class="media-cards-tag-container">
          <a href="#" class="media-content-link w-inline-block">
            <p class="main-media-copy cash-vault-tittle">Pulse Digital Picks: Carbon is our top online bank</p>
          </a>
        </div>
        <p class="main-media-copy date-copy">JULY O6 ,2020</p>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 400;  repeat: true" class="m-content-1">
        <div class="image-media media-img-container2"></div>
        <div class="media-cards-tag-container short-tittle">
          <a href="#" class="media-content-link w-inline-block">
            <p class="main-media-copy cash-vault-tittle">Nigeria’s Carbon launches its new Social Banking Service</p>
          </a>
        </div>
        <p class="main-media-copy date">MAY 25, 2020</p>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 500;  repeat: true" class="m-content-1 last">
        <div class="image-media media-img-container3"></div>
        <div class="pcards-tag-container medium-copy">
          <a href="#" class="media-content-link w-inline-block">
            <p class="main-media-copy cash-vault-tittle">Fintech startup, Carbon, launches $100,000 pan-African fund for startups; here’s what you need to know</p>
          </a>
        </div>
        <p class="main-media-copy date">FEBRUARY 18, 2020</p>
      </div>
    </div>
    <div class="media-content-container madia-wrapper">
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 300;  repeat: true" class="m-content-1">
        <div class="image-media kenya-operation m6"></div>
        <div class="pcards-tag-container medium-copy">
          <a href="#" class="media-content-link w-inline-block">
            <p class="main-media-copy cash-vault-tittle">Nigerian fintech startup Carbon launches operations in Kenya</p>
          </a>
        </div>
        <p class="main-media-copy date">DECEMBER 08, 2019</p>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 400;  repeat: true" class="m-content-1">
        <div class="image-media business-services m4"></div>
        <div class="media-cards-tag-container">
          <a href="#" class="media-content-link lending w-inline-block">
            <p class="main-media-copy media-4">Nigeria’s Carbon launches financial services platform for businesses</p>
          </a>
        </div>
        <p class="main-media-copy date-copy">OCTOBER 22, 2019</p>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 500;  repeat: true" class="m-content-1 last">
        <div class="image-media _2018-review m5"></div>
        <div class="media-cards-tag-container short-tittle">
          <a href="#" class="media-content-link w-inline-block">
            <p class="main-media-copy cash-vault-tittle">Why this Nigerian fintech startup is volunteering audited financials</p>
          </a>
        </div>
        <p class="main-media-copy date">JULY 30, 2019</p>
      </div>
    </div>
    <div class="media-content-container madia-wrapper">
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 300;  repeat: true" class="m-content-1">
        <div class="image-media venture1 m6"></div>
        <div class="pcards-tag-container medium-copy">
          <a href="#" class="media-content-link w-inline-block">
            <p class="main-media-copy cash-vault-tittle">Nigeria&#x27;s digital lender Paylater re-brands as “Carbon” to reflect its new digital banking services</p>
          </a>
        </div>
        <p class="main-media-copy date">APRIL 08, 2019</p>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 400;  repeat: true" class="m-content-1">
        <div class="image-media tech-next m4"></div>
        <div class="media-cards-tag-container">
          <a href="#" class="media-content-link lending w-inline-block">
            <p class="main-media-copy media-4">Paylater Confirms its Transition into a Digital Bank Following $5m Funding Round</p>
          </a>
        </div>
        <p class="main-media-copy date-copy">MARCH 11, 2019</p>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 500;  repeat: true" class="m-content-1 last">
        <div class="image-media naira-matrics m5"></div>
        <div class="media-cards-tag-container short-tittle">
          <a href="#" class="media-content-link w-inline-block">
            <p class="main-media-copy cash-vault-tittle">Onefi obtains $5 million loan from Lendable</p>
          </a>
        </div>
        <p class="main-media-copy date">MARCH 08, 2019</p>
      </div>
    </div>
    <div class="media-content-container madia-wrapper">
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 300;  repeat: true" class="m-content-1">
        <div class="image-media full-service m6"></div>
        <div class="pcards-tag-container medium-copy">
          <a href="#" class="media-content-link w-inline-block">
            <p class="main-media-copy cash-vault-tittle">Nigeria’s Paylater lending app is converting to a full-service digital bank</p>
          </a>
        </div>
        <p class="main-media-copy date">MARCH 08, 2019</p>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 400;  repeat: true" class="m-content-1">
        <div class="image-media secure-first m4"></div>
        <div class="media-cards-tag-container">
          <a href="#">
            <p class="main-media-copy media-4">Nigeria’s OneFi secures first ever credit rating for an African Fintech</p>
          </a>
        </div>
        <p class="main-media-copy date-copy">JANUARY 08, 2019</p>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 300;  repeat: true" class="m-content-1 last">
        <div class="image-media media-img-container2 m5"></div>
        <div class="media-cards-tag-container short-tittle">
          <a href="#" class="media-content-link w-inline-block">
            <p class="main-media-copy cash-vault-tittle">Nigerian lending startup has introduced a fixed investment account that offers a 15.5% annual return</p>
          </a>
        </div>
        <p class="main-media-copy date">JULY 07, 2018</p>
      </div>
    </div>
  </div>