<div class="hero-section loans-hero-section wf-section">
    <div class="container">
      <div data-w-id="c0d256e8-b9c6-f78f-7af1-24267e0a741c" class="flex hero">
        <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 300;  repeat: true" class="left-div">
          <h1 class="heading maincopy">Instant loans whenever you need it</h1>
          <p class="paragraph hero">Grow your small business or fix personal emergencies with affordable, collateral-free loans.</p>
        </div>
        <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 300;  repeat: true"  class="right-div">
          <div class="div-block loan-hero"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-section apply-24-7 wf-section">
    <div class="container">
      <div data-w-id="19c19b10-c640-2104-aba4-fb9811178b20" class="flex applying-process">
        <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 300;  repeat: true"  class="left-div feature1-loan">
          <h2 class="features-heading loans">Apply from the app 24/7, get funded in minutes</h2>
          <div class="loan-details-container step-1">
            <div class="access-up-to"></div>
            <p class="paragraph loan-details1 black">Access up-to ₦1,000,000</p>
          </div>
          <div class="loan-details-container step-2">
            <div class="papper-work"></div>
            <p class="paragraph loan-details1 black">No collateral. No guarantors. No paperwork</p>
          </div>
          <div class="loan-details-container">
            <div class="interest-paid-back"></div>
            <p class="paragraph loan-details1 black">Get cashback on interest paid once you repay on time</p>
          </div>
        </div>
        <div class="right-div-features">
          <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 300;  repeat: true"  class="appscreen getting-loan"></div><img uk-scrollspy=" cls: uk-animation-slide-left; delay: 600;  repeat: true" src="../../../assets/images/loan-amount2x-min.png" loading="lazy" width="357" data-w-id="9da562ed-244c-f823-4a85-6bdd7fa10891" alt="" class="loan-amount">
        </div>
      </div>
    </div>
  </div>
  <h2 data-w-id="a542a0c4-1210-f869-8d98-f7cdb053daca" class="heading-3 get-loan-phase">Getting a loan on the app takes just a few steps</h2>
  <div class="content-section get-started wf-section">
    <div class="column-1 started-content">
      <div data-w-id="9f67ee1a-b5a3-11c3-2be3-6900597e5b7f" class="photo _1">
        <div class="all-phase-container first">
          <div class="hiring-process-wrapper-1">
            <div class="accordion-wrapper schedule">
              <div class="number-container">
                <div class="process-number">01</div>
              </div>
              <div class="accordion-item js-accordion">
                <h2 class="accodion-trigger call">Download the app</h2>
                <div class="download-proces">
                  <p class="get-started-discription discription-1 js-accordion-item">Get the Carbon App on Google Play Store for Android or App Store for iOS.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-w-id="9f67ee1a-b5a3-11c3-2be3-6900597e5b8c" class="photo _2">
        <div class="all-phase-container first">
          <div class="hiring-process-wrapper-2">
            <div class="accordion-wrapper schedule">
              <div class="number-container second">
                <div class="process-number process2">02</div>
              </div>
              <div class="accordion-item js-accordion">
                <h2 class="accodion-trigger call">Create an account</h2>
                <div class="download-proces">
                  <p class="get-started-discription discription-1 js-accordion-item">Get one step closer to getting access to credit by providing us with your personal details. It’s safe and secure.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-w-id="9f67ee1a-b5a3-11c3-2be3-6900597e5b99" class="photo _3">
        <div class="hiring-process-wrapper-3">
          <div class="accordion-wrapper getting-to-know">
            <div class="number-container">
              <div class="process-number">01</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger get-to-know">Schedule a call</h2>
            </div>
          </div>
          <div class="accordion-wrapper lets-see">
            <div class="number-container second">
              <div class="process-number process2">02</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger lets-see">Getting to know you</h2>
            </div>
          </div>
          <div class="accordion-wrapper schedule">
            <div class="number-container third">
              <div class="process-number process3">03</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger call">Apply for your desired loan</h2>
              <div class="download-proces">
                <p class="get-started-discription discription-1 js-accordion-item">Go ahead and let us know how much you need. We will review your application and let you know where you stand.</p>
              </div>
            </div>
          </div>
          <div class="accordion-wrapper meet-team hide-3">
            <div class="number-container _4th">
              <div class="process-number process4">04</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger people-team">Meet the people team</h2>
            </div>
          </div>
          <div class="accordion-wrapper meet-founders hide-5">
            <div class="number-container _4th">
              <div class="process-number process5">05</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger founders">Meet the founders</h2>
            </div>
          </div>
          <div class="accordion-wrapper decision last hide-6">
            <div class="number-container _4th">
              <div class="process-number process6">06</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger decision">Decision</h2>
            </div>
          </div>
        </div>
      </div>
      <div data-w-id="5a1a1b68-0f45-22cc-c8dd-b6d7c7c5c7b0" class="photo _4">
        <div class="hiring-process-wrapper-3">
          <div class="accordion-wrapper getting-to-know">
            <div class="number-container">
              <div class="process-number">01</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger get-to-know">Schedule a call</h2>
            </div>
          </div>
          <div class="accordion-wrapper schedule">
            <div class="number-container _4th">
              <div class="process-number process4">04</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger call">Get money in your Carbon <br>wallet instantly</h2>
              <div class="download-proces">
                <p class="get-started-discription discription-1 js-accordion-item">Once approved, we will disburse the funds in your account almost imediately.</p>
              </div>
            </div>
          </div>
          <div class="accordion-wrapper decision last hide-6">
            <div class="number-container _4th">
              <div class="process-number process6">06</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger decision">Decision</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column-2 photo">
      <div class="content-holder">
        <div class="the-content _1 download"></div>
        <div class="the-content _2 register"></div>
        <div class="the-content _3 apply-stage"></div>
        <div class="the-content _4 approved"></div>
      </div>
    </div>
  </div>
  <div data-w-id="6dffb4e5-09e0-130f-17bb-885f6f891c00" class="hero-section getting-loan-process wf-section">
    <h2 data-w-id="a2bcb880-17bf-71c2-8715-72ce47f8325b" class="heading-3 loan-process">Getting a loan on the app takes just a few steps</h2>
    <div data-w-id="6dffb4e5-09e0-130f-17bb-885f6f891c01" class="container loan-steps">
      <div data-w-id="6dffb4e5-09e0-130f-17bb-885f6f891c02" class="loan-process-wrapper">
        <div class="get-started-process-wrapper left-item">
          <div data-w-id="6dffb4e5-09e0-130f-17bb-885f6f891c03" class="accordion-wrapper">
            <div class="number-container">
              <div class="process-number">01</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger js-accordion-header">Download the app</h2>
              <div class="download-proces">
                <p class="get-started-discription discription-1 js-accordion-item">Download and install the Carbon app from the Google Play store or App Store</p>
              </div>
            </div>
          </div>
          <div class="accordion-wrapper">
            <div class="number-container second">
              <div class="process-number process2">02</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger">Create an account</h2>
              <div class="download-proces">
                <p class="get-started-discription discription-1 js-accordion-item">Get one step closer to getting access to credit by providing us with your personal details. It’s safe and secure.</p>
              </div>
            </div>
          </div>
          <div class="accordion-wrapper desired-loan">
            <div class="number-container third">
              <div class="process-number process3">03</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger">Apply for your desired loan</h2>
              <div class="download-proces">
                <p class="get-started-discription discription-1 js-accordion-item">Go ahead and let us know how much you need. We will review your application and let you know where you stand.</p>
              </div>
            </div>
          </div>
          <div class="accordion-wrapper get-money">
            <div class="number-container _4th">
              <div class="process-number process4">04</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger">Get money in your Carbon wallet instantly</h2>
              <div class="download-proces">
                <p class="get-started-discription discription-1 js-accordion-item">Once approved, we will disburse the funds in your account almost imediately.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="get-started-gif">
          <div class="appscreen feature1 get-started-img"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="unlock-higher-loans wf-section">
    <div class="container higer-amount">
      <div data-w-id="3f24ca4e-8f23-9503-1bae-1053ff04b7cf" class="flex unlocking-higer-amount">
        <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 300;  repeat: true"  class="left-div feature1">
          <h2 class="features-heading">Unlock higher amounts</h2>
          <p class="paragraph feature1">Our loan process is designed to fit your needs and help you grow. Repay on time and unlock higher loan amounts and lower interest rates</p>
        </div>
        <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 300;  repeat: true"  class="right-screen-loans">
          <div class="left-screen feature2-loans"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-section zero-loans wf-section">
    <div class="container zero-loans">
      <div class="flex zero-interest">
        <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 300;  repeat: true"  class="left-div feature1">
          <h2 class="features-heading">Zero Interest Loans</h2>
          <p class="paragraph feature1">We reward you for keeping up your end of the deal. You get up to 100% cashback on the interest paid on all your 7 - 30-day loans, once you repay on time.</p>
        </div>
        <div class="left-screen-loans zero-interest">
          <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 300;  repeat: true"  class="left-screen feature3-loans"></div><img uk-scrollspy=" cls: uk-animation-slide-right; delay: 600;  repeat: true" class="cashback" src="../../../assets/images/Cashb3x.png" width="260" alt="" sizes="(max-width: 479px) 88vw, (max-width: 767px) 40vw, 260px" data-w-id="c8deff6f-65ca-78b1-3dc8-fea8161bbf72" loading="lazy" srcset="../../../assets/images/Cashb3x-p-500.png 500w, ../../../assets/images/Cashb3x.png 738w">
        </div>
      </div>
    </div>
  </div>
  <div class="no-hidden-fees wf-section">
    <div class="container no-hidden-fee">
      <div class="flex features2-loans">
        <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 300;  repeat: true"  class="left-div feature1">
          <h2 class="features-heading">No hidden fees</h2>
          <p class="paragraph feature1">We’re invested in making loans affordable for you. Pay only what you owe. No late fees, rollover fees, or processing costs.</p>
        </div>
        <div class="right-screen-loans-hidden-fees">
          <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 300;  repeat: true"  class="left-screen feature4-loans"></div><img uk-scrollspy=" cls: uk-animation-slide-left; delay: 600;  repeat: true"  src="../../../assets/images/Fees2x-min.png" loading="lazy" width="250" data-w-id="c7fe0cce-e937-a27b-baf9-84cacd3ed021" alt="" class="no-fee">
        </div>
      </div>
    </div>
  </div>
  <div data-w-id="2fabdbb9-d857-c59e-09f5-deaf254f1fac" class="hero-section one-testimony wf-section">
    <div data-w-id="89b2fe6f-3e16-f7ef-1b38-460e5e36fbe0" class="story-container">
      <div class="img-container leonard-u"></div>
      <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 300;  repeat: true"  class="customer-story">
        <div class="story-copy-container">
          <div class="actual-story">I found out about Carbon in 2018, on Twitter or somewhere on social media. It was this app where you could sign up and get instant loans. I tried it and it worked. Subsequently, when I needed a quick loan I knew I could always go to Carbon</div>
          <div class="story-author">- Leonard U</div>
          <a href="customers.html" class="link-block w-inline-block">
            <div>
              <div class="read-more-white">Read more user stories</div>
            </div>
            <div class="div-block-13"><img src="../../../assets/images/chevron-forward-circle-outline-white.svg" loading="lazy" height="14" width="14" alt="" class="inner-link-icon"></div>
          </a>
        </div>
      </div>
      <div class="c-story"></div>
    </div>
  </div>
  <div class="faqs-section wf-section">
    <div class="container common-questions">
      <div class="faq-main-wrapper">
        <div class="faq-header-wrapper">
          <h1 class="faq-header">Commonly asked questions</h1>
          <div class="faq-container-wrapper">
            <div style="background-color:rgba(241,238,251,0.54)" class="faq-accordian">
              <div data-w-id="28373d95-bf3e-ddba-c1b9-45c251d47e31" class="faq-accordian-trigger">
                <div class="accordian-header">
                  <div class="faq-accordian-intro">Is there cash back if I pay my loan back on time?</div>
                  <div class="list-icon w-icon-dropdown-toggle"></div>
                </div>
              </div>
              <div style="width:100%;height:0PX" class="accordian-content">
                <p class="faq-paragraph">This is a new feature in the Carbon app, where we provide between 10 - 100% cashback on loans that are repaid on time. Cashback is paid out to your wallet once the loan is repaid on time.</p>
              </div>
            </div>
          </div>
          <div class="faq-container-wrapper">
            <div style="background-color:rgba(241,238,251,0.54)" class="faq-accordian">
              <div data-w-id="28373d95-bf3e-ddba-c1b9-45c251d47e3f" class="faq-accordian-trigger">
                <div class="accordian-header">
                  <div class="faq-accordian-intro">How do you calculate the loan offer?</div>
                  <div class="list-icon w-icon-dropdown-toggle"></div>
                </div>
              </div>
              <div style="width:100%;height:0PX" class="accordian-content">
                <p class="faq-paragraph">a. Loan Offer is calculated based on the verified data from your information and current risk profile. <br><br>b.  The loan amount, duration and interest rate at any time depends on your profile and the information you provided in the application.</p>
              </div>
            </div>
          </div>
          <div class="faq-container-wrapper">
            <div style="background-color:rgba(241,238,251,0.54)" class="faq-accordian">
              <div data-w-id="28373d95-bf3e-ddba-c1b9-45c251d47e4d" class="faq-accordian-trigger">
                <div class="accordian-header">
                  <div class="faq-accordian-intro">Can I have more than one running loan?</div>
                  <div class="list-icon w-icon-dropdown-toggle"></div>
                </div>
              </div>
              <div style="width:100%;height:0PX" class="accordian-content">
                <p class="faq-paragraph">You need to have a current loan within a 3- 6 months installment and you must have paid for 2 months on time. Then, the top-up loan offer will be displayed to you in the app, at your current interest rate and loan tenor. However, you can only access a top-up loan once in a loan cycle<br></p>
              </div>
            </div>
          </div>
          <div class="faq-container-wrapper"></div>
        </div>
      </div>
    </div>
  </div>