<div class="hero-section card-hero wf-section">
    <div class="container">
      <div data-w-id="c0d256e8-b9c6-f78f-7af1-24267e0a741c" class="flex hero">
        <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 300;  repeat: true"  class="left-div">
          <h1 class="heading maincopy">Online and offline payments with Carbon cards</h1>
          <p class="paragraph hero">Pay for everything, anywhere using either one of our physical or virtual cards.</p>
        </div>
        <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 300;  repeat: true"  class="right-div">
          <div class="div-block cards-hero"></div>
        </div>
      </div>
    </div>
  </div>
  <div data-w-id="6dffb4e5-09e0-130f-17bb-885f6f891c00" class="hero-section spend wf-section">
    <h2 data-w-id="a2bcb880-17bf-71c2-8715-72ce47f8325b" class="heading-3 loan-process">Spend the way you want</h2>
    <p class="paragraph-5">Virtual or Physical? You decide how you want to pay for goods and services from your favourite providers.</p>
    <div data-w-id="6dffb4e5-09e0-130f-17bb-885f6f891c01" class="cards-type card-wrapper">
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 300;  repeat: true"  data-w-id="6dffb4e5-09e0-130f-17bb-885f6f891c02" class="physical-card">
        <div class="icon-container physical"></div>
        <div class="pcards-tag-container physical-cards-wrapper">
          <p class="pcards-title physical-cards-tittle">Physical card</p>
          <div class="tag-container-block">
            <div class="comming-soon">COMING SOON</div>
          </div>
        </div>
        <p class="pcards-copy">Withdraw cash from your Carbon bank account anywhere using your debit card.</p>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 500;  repeat: true"  class="virtual-cards">
        <div class="icon-container virtual"></div>
        <p class="pcards-title">Virtual card</p>
        <p class="pcards-copy">The card of your dreams. Pay for services on any online platform worldwide. You can also convert your local currency to dollars when paying.</p>
      </div>
    </div>
  </div>
  <div class="your-money wf-section">
    <div class="container">
      <div data-w-id="3f24ca4e-8f23-9503-1bae-1053ff04b7cf" class="flex features1-cards">
        <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 300;  repeat: true"  class="left-div feature1">
          <h2 class="features-heading">Your money when you need it</h2>
          <p class="paragraph feature1-cards">Withy our cards, there’s no odd time of the day. Get access to funds in your wallet on your own terms, anytime.</p>
        </div>
        <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 300;  repeat: true"  class="your-money-when-yo-need">
          <div class="left-screen feature1-cards"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-section third-features wf-section">
    <div class="container">
      <div class="flex features2-cards">
        <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 300;  repeat: true"  class="left-div feature1">
          <h2 class="features-heading">Secure at all times</h2>
          <p class="paragraph feature1">Wherever you’re paying - online or offline, Carbon cards are secure and made to keep your funds protected.</p>
        </div>
        <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 300;  repeat: true"  class="left-screen-loans card-security-unseen">
          <div class="left-screen feature2-cards"></div><img class="card-settings" src="../../../assets/images/Freeze2x.png" width="230" alt="" style="opacity:0" sizes="(max-width: 479px) 87vw, (max-width: 767px) 40vw, 230px" data-w-id="c8deff6f-65ca-78b1-3dc8-fea8161bbf72" loading="lazy" srcset="images/Freeze2x-p-500.png 500w, images/Freeze2x.png 756w"><img src="images/insurance2x.png" loading="lazy" width="136.5" style="opacity:0" data-w-id="550f4850-68a7-d6d0-0efd-061ef33bd4a4" alt="" class="secure-sign">
        </div>
      </div>
    </div>
  </div>
  <div class="notifications last-feature wf-section">
    <div class="container instant-notifications">
      <div class="flex features3-cards">
        <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 300;  repeat: true"  class="left-div feature1">
          <h2 class="features-heading">Instant notification</h2>
          <p class="paragraph feature1">Get immediate alerts when your card is used and funds leave your wallet.</p>
        </div>
        <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 300;  repeat: true"  class="instant-alert-message">
          <div class="left-screen feature4-cards"></div>
        </div>
      </div>
    </div>
  </div>
  <div data-w-id="54518f89-11d6-a173-7796-7ad6877ec88c" class="hero-section locations wf-section">
    <h2 class="heading-3 loan-process">Available everywhere, anytime</h2>
    <p class="paragraph-5">Whatever your needs are. Wherever they&#x27;re located. Our cards enable you to pay for them with ease.</p>
    <div class="map-container"><img src="../../../assets/images/Group-252x.png" loading="lazy" width="72" style="opacity:0" data-w-id="8ab50197-2df9-db8a-1934-44b0c96a8745" alt="" class="location-icon1"><img src="images/Group-212x.png" loading="lazy" width="72" style="opacity:0" data-w-id="468f0a21-fa03-be9a-0f4e-cc3668802c0c" alt="" class="location-icon2"><img src="images/Group-242x.png" loading="lazy" width="72" style="opacity:0" data-w-id="b627cc69-4287-d49f-2e5b-88c37c96b38d" alt="" class="location-icon3"><img src="images/Group-232x.png" loading="lazy" width="72" style="opacity:0" data-w-id="b6ed7ee3-e027-87fe-136b-60800186d676" alt="" class="location-icon4"><img src="images/Group-222x.png" loading="lazy" width="72" style="opacity:0" data-w-id="55c1b5d7-83bf-2f3e-9248-ab4a34e11e9f" alt="" class="location-icon5"></div>
  </div>
  <div data-w-id="2fabdbb9-d857-c59e-09f5-deaf254f1fac" class="hero-section one-testimony wf-section">
    <div data-w-id="89b2fe6f-3e16-f7ef-1b38-460e5e36fbe0" class="story-container">
      <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 300;  repeat: true"  class="img-container"></div>
      <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 300;  repeat: true"  class="customer-story">
        <div class="story-copy-container">
          <div class="actual-story">Carbon’s super efficient, very easy to use, very user friendly. The interface is very simple ready to go. I really enjoy using it. I use Carbon to save for my emergency funds. All my emergency money goes there.</div>
          <div class="story-author">- Salome D</div>
          <a [routerLink]="['/customers']" routerLinkActive="router-link-active"  class="link-block w-inline-block">
            <div>
              <div class="read-more-white">Read more user stories</div>
            </div>
            <div class="div-block-13"><img src="../../../assets/images/chevron-forward-circle-outline-white.svg" loading="lazy" height="14" width="14" alt="" class="inner-link-icon"></div>
          </a>
        </div>
      </div>
      <div class="c-story"></div>
    </div>
  </div>
  <h2 data-w-id="3cfb6898-54ca-e09e-b172-f1787227c586" class="heading-3 loan-process">Get started on Carbon today!</h2>
  <div class="hero-section get-started wf-section">
    <div class="container dowload-process">
      <div data-w-id="3cfb6898-54ca-e09e-b172-f1787227c589" class="loan-process-wrapper">
        <div class="get-started-process-wrapper left-item">
          <div class="accordion-wrapper">
            <div class="number-container">
              <div class="process-number">01</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger js-accordion-header">Download the app</h2>
              <div class="download-proces">
                <p class="get-started-discription discription-1 js-accordion-item">Get the Carbon App on Google Play Store for Android or App Store for iOS.<br></p>
              </div>
            </div>
          </div>
          <div class="accordion-wrapper">
            <div class="number-container second">
              <div class="process-number process2">02</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger">Register within minutes</h2>
              <div class="download-proces">
                <p class="get-started-discription discription-1 js-accordion-item">Tell us a few details about you to help us create your Carbon account quickly.</p>
              </div>
            </div>
          </div>
          <div class="accordion-wrapper start-transacting">
            <div class="number-container third">
              <div class="process-number process3">03</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger">Start banking</h2>
              <div class="download-proces">
                <p class="get-started-discription discription-1 js-accordion-item">You’re ready to go. Carry out all your banking transactions within the app, from investments to loan applications and bill payments.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="get-started-gif">
          <div class="appscreen feature1 get-started-img"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-section get-started wf-section">
    <div class="column-1 started-content">
      <div data-w-id="38091966-d269-5f1d-834f-bdb8331410e5" class="photo _1">
        <div class="all-phase-container">
          <div class="hiring-process-wrapper-1">
            <div class="accordion-wrapper schedule">
              <div class="number-container">
                <div class="process-number">01</div>
              </div>
              <div class="accordion-item js-accordion">
                <h2 class="accodion-trigger call">Download the app</h2>
                <div class="download-proces">
                  <p class="get-started-discription discription-1 js-accordion-item">Get the Carbon App on Google Play Store for Android or App Store for iOS.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-w-id="38091966-d269-5f1d-834f-bdb8331410f2" class="photo _2">
        <div class="all-phase-container">
          <div class="hiring-process-wrapper-2">
            <div class="accordion-wrapper schedule">
              <div class="number-container second">
                <div class="process-number process2">02</div>
              </div>
              <div class="accordion-item js-accordion">
                <h2 class="accodion-trigger call">Register within minutes</h2>
                <div class="download-proces">
                  <p class="get-started-discription discription-1 js-accordion-item">Tell us a few details about you to help us create your Carbon account quickly.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-w-id="38091966-d269-5f1d-834f-bdb833141122" class="photo _3">
        <div class="hiring-process-wrapper-3">
          <div class="accordion-wrapper getting-to-know">
            <div class="number-container">
              <div class="process-number">01</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger get-to-know">Schedule a call</h2>
            </div>
          </div>
          <div class="accordion-wrapper lets-see">
            <div class="number-container second">
              <div class="process-number process2">02</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger lets-see">Getting to know you</h2>
            </div>
          </div>
          <div class="accordion-wrapper schedule">
            <div class="number-container third">
              <div class="process-number process3">03</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger call">Start banking</h2>
              <div class="download-proces">
                <p class="get-started-discription discription-1 js-accordion-item">You’re ready to go. Carry out all your banking transactions  within the app, from investments to loan applications and bill payments.</p>
              </div>
            </div>
          </div>
          <div class="accordion-wrapper meet-team hide-3">
            <div class="number-container _4th">
              <div class="process-number process4">04</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger people-team">Meet the people team</h2>
            </div>
          </div>
          <div class="accordion-wrapper meet-founders hide-5">
            <div class="number-container _4th">
              <div class="process-number process5">05</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger founders">Meet the founders</h2>
            </div>
          </div>
          <div class="accordion-wrapper decision last hide-6">
            <div class="number-container _4th">
              <div class="process-number process6">06</div>
            </div>
            <div class="accordion-item js-accordion">
              <h2 class="accodion-trigger decision">Decision</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column-2 photo">
      <div class="content-holder">
        <div class="the-content _1 download"></div>
        <div class="the-content _2 register"></div>
        <div class="the-content _3 home"></div>
      </div>
    </div>
  </div>