<div class="hero-section customers wf-section">
    <div class="container customers">
      <div class="flex customer-hero-container">
        <div uk-scrollspy=" cls: uk-animation-fade; delay: 400;  repeat: true" class="left-div">
          <h1 class="heading maincopy">Trusted by millions </h1>
          <p class="paragraph hero">Over 2 million people have used Carbon to improve their finances. We also absolutely love getting customer feedback - here&#x27;s what a few of ours have to say about us. <em><br></em></p>
        </div>
        <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 400;  repeat: true" class="right-div">
          <div class="div-block customer-hero"></div>
        </div>
      </div>
    </div>
  </div>
  <div data-w-id="c640d9dd-48d4-dbcc-9a8c-31d2936dfecf" class="hero-section stories-set1 last-set wf-section">
    <div class="users-container">
      <div class="div-block-9">
        <div data-animation="slide" data-hide-arrows="1" data-duration="300" data-infinite="1" class="slider-3 w-slider">
          <div class="w-slider-mask">
            <div class="slide-7 w-slide">
              <div class="slide-wrapper">
                <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 400;  repeat: true" class="student-image-1"></div>
                <div uk-scrollspy=" cls: uk-animation-slide-right; delay: 600;  repeat: true" class="student-slide-callout">
                  <div class="student-quote">I found out about Carbon in 2018, on Twitter or somewhere on social media. It was this app where you could sign up and get instant loans. I tried it and it worked. Subsequently, when I needed a quick loan I knew I could always go to Carbon</div>
                  <div class="student-name"><span class="text-span-3">- Leonard U</span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="left-arrow-sub-slider w-slider-arrow-left">
            <div class="slide-icon-background">
              <div class="icon-13 w-icon-slider-left"></div>
            </div>
          </div>
          <div class="right-arrow-2 w-slider-arrow-right">
            <div class="slide-icon-background">
              <div class="icon-12 w-icon-slider-right"></div>
            </div>
          </div>
          <div class="slide-nav-3 w-slider-nav w-round"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-section stories-set1 last-set wf-section">
    <div class="team-story first-row">
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 300;  repeat: true" class="team-story-1 adebola">
        <p class="testimony-copy">If you’re tired of traditional banks, then get Carbon. I use Carbon for nearly all my online transactions for services such as electricity, cable TV, and bank transfers at no cost. Getting a loan is seamless, plus free credit reports.</p>
        <div class="div-block-47">
          <div class="staff-img avatar img-one"></div>
          <div class="div-block-48">
            <div class="staff-name"><strong class="name-staff">Adebolai</strong></div>
          </div>
        </div>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 400;  repeat: true" class="team-story-1 olowolafe-sunday-oladele">
        <p class="testimony-copy">They got you covered during the ‘rainy days’. More so, if you’re tired of all these traditional banks and their hectic stuffs, just get carbon. From loans to paying bills, and most importantly, the savings/investment programs there is just too much.</p>
        <div class="div-block-47">
          <div class="staff-img avatar img-2"></div>
          <div class="div-block-48">
            <div class="staff-name"><strong class="name-staff">Olowolafe Sunday oladele</strong></div>
          </div>
        </div>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 500;  repeat: true" class="team-story-1 lillian-adaku">
        <p class="testimony-copy">This is the best loan app in Nigeria!!! The interest rate is very cool and they split it in a way that you will be able to pay without stress. I’ll recommend this app to anyone who is interested in borrowing money online!!!</p>
        <div class="lillian">
          <div class="staff-img avatar img-three"></div>
          <div class="div-block-48">
            <div class="staff-name"><strong class="name-staff">Lillian Adaku</strong></div>
          </div>
        </div>
      </div>
    </div>
    <div class="team-story second-row">
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 600;  repeat: true" class="team-story-1 alaye-lawson">
        <p class="testimony-copy">Carbon is the best loan service app, fast and easy to use, the interest rates are one of the best and they’re very empathetic with repayment delays and I can’t overemphasize this. Well done guy 👍🏽</p>
        <div class="div-block-47">
          <div class="staff-img avatar img-four"></div>
          <div class="div-block-48">
            <div class="staff-name"><strong class="name-staff">Alaye Lawson</strong></div>
          </div>
        </div>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 700;  repeat: true" class="team-story-1 odunjo-olakunle">
        <p class="testimony-copy">The best money lender out there without any unnecessary bottle necks. I got an increased loan offer from 30k to 80k with ease of spread instalmental payment at a very low interest rate…. kudos.</p>
        <div class="div-block-47">
          <div class="staff-img avatar img-five"></div>
          <div class="div-block-48">
            <div class="staff-name"><strong class="name-staff">Odunjo Olakunle</strong></div>
          </div>
        </div>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 800;  repeat: true" class="team-story-1 paul-c-ijomah">
        <p class="testimony-copy">Wow, amazing. I got my loan approved in less than 5 minutes. I was able to make bank transfers and online payments swiftly. Thanks for this app.</p>
        <div class="div-block-47-copy paul-c-ijomah">
          <div class="staff-img avatar img-six"></div>
          <div class="div-block-48">
            <div class="staff-name"><strong class="name-staff">Adenegan Opeyemi</strong></div>
          </div>
        </div>
      </div>
    </div>
    <div class="team-story third-row">
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 900;  repeat: true" class="team-story-1 jonah-atsale">
        <p class="testimony-copy">The best payment and fastest loan platform with lower interest rates, very reliable for investment and transact as quick as texting of messages. I recommend you all to join carbon.</p>
        <div class="div-block-47">
          <div class="staff-img avatar img-seven"></div>
          <div class="div-block-48">
            <div class="staff-name"><strong class="name-staff">Jonah Atsale</strong></div>
          </div>
        </div>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 1100;  repeat: true" class="team-story-1 gwalbige-shawulu">
        <p class="testimony-copy">Simply amazing and the most reliable trusted and safest app for any financial transactions</p>
        <div class="div-block-47">
          <div class="staff-img avatar img-8"></div>
          <div class="div-block-48">
            <div class="staff-name"><strong class="name-staff">Gwalbige Shawulu</strong></div>
          </div>
        </div>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 1200;  repeat: true" class="team-story-1 akinola-fatai">
        <p class="testimony-copy">This is very nice,I can’t believe on till I get the money in my wallet, different from other, fastest network, easy to get, no too much of story, infact 98%guarantee</p>
        <div class="fatai">
          <div class="staff-img avatar img-9"></div>
          <div class="div-block-48">
            <div class="staff-name"><strong class="name-staff">Akinola Fatai</strong></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-section one-testimony wf-section">
    <div data-w-id="f5dd5fb7-6a1d-f1b9-1775-8d7fc579d3af" class="story-container">
      <div class="img-container"></div>
      <div uk-scrollspy=" cls: uk-animation-slide-left; delay: 300;  repeat: true" class="customer-story">
        <div class="story-copy-container story-page">
          <div class="actual-story">Carbon’s super efficient, very easy to use, very user friendly. The interface is very simple ready to go. I really enjoy using it. I use Carbon to save for my emergency funds. All my emergency money goes there.</div>
          <div class="story-author">- Salome D</div>
        </div>
      </div>
      <div class="c-story"></div>
    </div>
  </div>
  <div class="hero-section stories-set1 wf-section">
    <div class="team-story _4th-row">
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 300;  repeat: true" class="team-story-1 mary-banji">
        <p class="testimony-copy">Carbon is the best loan app I have seen so far. Customer care very friendly, interest very ok, duration of payment fantastic. Carbon is a very good place to invest. I recommend Carbon to everyone.</p>
        <div class="div-block-47">
          <div class="staff-img avatar img-11"></div>
          <div class="div-block-48">
            <div class="staff-name"><strong class="name-staff">Mary Banji</strong></div>
          </div>
        </div>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 400;  repeat: true" class="team-story-1 isaac-olorunkunle">
        <p class="testimony-copy">5 star all the way.. The best money lending app. Nice work fellas but you can do better.</p>
        <div class="div-block-47">
          <div class="staff-img avatar img-12"></div>
          <div class="div-block-48">
            <div class="staff-name"><strong class="name-staff">Isaac olorunkunle</strong></div>
          </div>
        </div>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 500;  repeat: true" class="team-story-1 progress-harrison">
        <p class="testimony-copy">If there is anything more than five star I will give to carbon, they are wonderful and unique in every aspect I highly recommend this app for everyone I love you and guys and ur services, this app is just like a mobile Bank its self.</p>
        <div class="div-block-47">
          <div class="staff-img avatar img-13"></div>
          <div class="div-block-48">
            <div class="staff-name"><strong class="name-staff">Progress Harrison</strong></div>
          </div>
        </div>
      </div>
    </div>
    <div class="team-story _5th-row">
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 600;  repeat: true" class="team-story-1 andy-kelvin">
        <p class="testimony-copy">Excellent app and services; superb user interface, get your loan immediately and also invest periodically. Above, prompt notification 🔔 on any transaction.</p>
        <div class="div-block-47">
          <div class="staff-img avatar img-14"></div>
          <div class="div-block-48">
            <div class="staff-name"><strong class="name-staff">Andy Kelvin</strong></div>
          </div>
        </div>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 700;  repeat: true" class="team-story-1 iranlade-olanipekun">
        <p class="testimony-copy">A very reliable loan plug, easy and prompt repayment, fair interest rates, investment options and finally, you get paid interest on your deposits/account balance.</p>
        <div class="div-block-47">
          <div class="staff-img avatar img-15"></div>
          <div class="div-block-48">
            <div class="staff-name"><strong class="name-staff">Iranlade Olanipekun</strong></div>
          </div>
        </div>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 800;  repeat: true" class="team-story-1 helen-emmanuel-christ">
        <p class="testimony-copy">The careful simple security steps and the electronic transfer of the funds to my ewallet was an awesome experience. The process was one great step of adventure to the next and greater something to talk about.</p>
        <div class="div-block-47">
          <div class="staff-img avatar img-16"></div>
          <div class="div-block-48">
            <div class="staff-name"><strong class="name-staff">Helen Emmanuel Christ</strong></div>
          </div>
        </div>
      </div>
    </div>
    <div class="team-story set-2 last-mob">
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 900;  repeat: true" class="team-story-1 folakemi-osani">
        <p class="testimony-copy">Carbon is one of the best app so far, but network always cause issue at times. But they are good for business. There charges are friendly, also the interest, so I have recommend it for lot of people.</p>
        <div class="div-block-47">
          <div class="staff-img avatar img-17"></div>
          <div class="div-block-48">
            <div class="staff-name"><strong class="name-staff">Folakemi Osani</strong></div>
          </div>
        </div>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 1000;  repeat: true" class="team-story-1 falalu-muhammad-tukur">
        <p class="testimony-copy">Wonderful! This app is interesting more especially the interest rate is very low unlike other lending financial services. Once again Iam more than excited and enthusiastic about this app. CARBON IS THE BEST!</p>
        <div class="div-block-47">
          <div class="staff-img avatar img-18"></div>
          <div class="div-block-48">
            <div class="staff-name"><strong class="name-staff">Falalu Muhammad Tukur</strong></div>
          </div>
        </div>
      </div>
      <div uk-scrollspy=" cls: uk-animation-slide-bottom; delay: 1100;  repeat: true" class="team-story-1 odunze-onyekachi">
        <p class="testimony-copy">This is the best financial platform ever, it’s way better than my bank, still I’ll suggest that they should increase the interest rates,😊 although it’s the best rate I’ve seen so far there’s still room for increase 😉🤭, In all carbon is the best</p>
        <div class="div-block-47">
          <div class="staff-img avatar img-19"></div>
          <div class="div-block-48">
            <div class="staff-name"><strong class="name-staff">Odunze Onyekachi</strong></div>
          </div>
        </div>
      </div>
    </div>
  </div>